---
layout: content-style-guide
permalink: /content-style-guide/specific-topics-and-programs/sign-in-and-identity-verification
has-parent: /content-style-guide/specific-topics-and-programs/
title: Sign in and identity verification
intro-text: "The information on this page will help you use consistent language about signing in to VA and verifying identity across communication channels."
anchors:
 - anchor: Considerations
 - anchor: Related terms
 - anchor: Retired terms
 - anchor: Resources
---

## Considerations

- We want to encourage Veterans to create Login.gov or ID.me accounts, with an emphasis on Login.gov. 
- Research has shown that some people confuse Login.gov with being a separate tool. Reinforce that Login.gov and ID.me are types of sign-in accounts—not tools or portals—by using the phrase “**Login.gov** account” or “**ID.me** account.”
- We bold the terms **Login.gov**, **ID.me**, **DS Logon**, and **My HealtheVet** when we're referring to types of sign-in accounts.
**Like this:** “You can use your **Login.gov** account to access your VA benefits, services, and information online.”  
**Not this:** “You can use Login.gov to access your VA benefits, services, and information online.”  
**Exception:** We don’t need “account” to follow “Login.gov” in this example: “**Login.gov** is our government’s one account provider for VA and other government benefits and services.” 
- When describing reasons for creating an account or changing to a new type of account, keep the focus on how Veterans can benefit. For example, "to protect all Veterans’ information and prevent scammers from stealing your benefits." Don’t use phrases like “to protect VA’s data security,” since that puts the responsibility for VA data security on Veterans.

- **Note:** The language around sign in and identity is rapidly evolving. Check back often for updates. 

## Related terms

**account** and **sign-in account**

We use these terms to describe the account that a Veteran uses to sign in to VA.gov. For example, "create a **Login.gov** account" or "set up your sign-in account."

- **Note:** We don’t use the phrases “your VA.gov account” or “VA account.” We don’t use the term “credential.” 

**account provider**

We use this term when we refer to **Login.gov** and **ID.me** as the services that provide verified sign-in accounts that Veterans can use on VA.gov. For example, "**ID.me** is a non-government account provider."

- **Note:** We don't use the terms "sign-in partner" or "service provider."

**identity verification** and **verify your identity**

- We use these phrases to describe the one-time process of verifying your identity through **Login.gov** or **ID.me**. For example, “Identity verification helps us make sure that the person creating your account is really you—and not someone pretending to be you."
- When we're instructing Veterans to verify, we use "**verify your identity for your account**" on the first instance in body text (or variations like "for your **Login.gov** account" or "for that account" as needed). Then we can shorten to "verify your identity" and simply "verify" after the first instance, depending on context. This is to help make the connection to account security and avoid any confusion about VA doubting or questioning a Veteran's identity.
- When we're describing the security level of an account, we use "**identity-verified account**" on the first instance and "**verified account**" after the first instance. If the first instance is in a header and length is a concern, we can use "identity-verified account" on the first instance in body text instead. This is to help make the connection with CTA wording to "verify your identity."

- **Note:** We don't use "verify your identity" to describe the repetitive processes of signing in to VA.gov with an account you've already verified, using multifactor authentication, or using the "LOROTA" sign-in process for check-in and pre-check-in. We reserve this term only for the initial, one-time process of verifying your identity through an account provider.
 
**multifactor authentication**

We use this term to describe the multifactor security process that Veterans must use when they sign in to VA.gov. For example, "Multifactor authentication helps us make sure that it’s you trying to use your sign-in account—and not someone pretending to be you."  

**My HealtheVet** 

“My HealtheVet” is 2 words. Don’t italicize the “e” between “Health” and “Vet” in digital content body copy, headlines, and user interface elements such as links, buttons, and navigation. The “e” is italicized only in the logo and in print materials. 

- **Note:** We no longer tell Veterans to create new **My HealtheVet** accounts or upgrade existing accounts. We don't use the terms "My HealtheVet basic," "My HealtheVet advanced," or "My HealtheVet Premium."
 
**security standards** 

We may use the phrase “meets modern security standards” when describing sign-in partners. Like this: “Both **Login.gov** and **ID.me** meet modern security standards.” 

**sign in** and **sign out** 

We always use “sign in” and “sign out” to describe the process of authenticating on VA.gov.

- **Note:** We don’t use “log in," “log out,” or “sign on.”  

## Retired terms

**2-factor authentication**

Use “multifactor authentication” as the main term. Where space allows, we can include, “This process is also sometimes called 2-factor authentication.” 

**My HealtheVet basic,** **My HealtheVet advanced,** and **My HealtheVet Premium**

Use "My HealtheVet account" as the main term. If you need to specify the security level of the account, use "identity-verified **My HealtheVet** account" or "unverified **My HealtheVet** account."

**sign-in partner** and **service provider**

Use "account provider."

## Resources

- [Signing in to VA.gov](https://www.va.gov/resources/signing-in-to-vagov/)
- [Creating an account for VA.gov](https://www.va.gov/resources/creating-an-account-for-vagov/)
- [Verifying your identity on VA.gov](https://www.va.gov/resources/verifying-your-identity-on-vagov/)
