---
layout: content-style-guide
permalink: /content-style-guide/specific-topics-and-programs/sign-in-and-identity-verification
has-parent: /content-style-guide/specific-topics-and-programs/
title: Sign in and identity verification
intro-text: "The information on this page will help you use consistent language about signing in to VA and verifying identity across communication channels."
anchors:
 - anchor: Considerations
 - anchor: Related terms
 - anchor: Retired terms
 - anchor: Resources
---

## Considerations

- We want to encourage Veterans to create Login.gov or ID.me accounts, with an emphasis on Login.gov. 
- Research has shown that some people confuse Login.gov with being a separate tool. Reinforce that Login.gov and ID.me are types of accounts—not tools or portals—by using the phrase “Login.gov account” or “ID.me account.”  
**Like this:** “You can use your Login.gov account to access your VA benefits, services, and information online.”  
**Not this:** “You can use Login.gov to access your VA benefits, services, and information online.”
  **Exception:** We don’t need “account” to follow “Login.gov” in this example: “Login.gov is a U.S. government account that meets modern security standards.” 
- When describing reasons for creating an account or changing to a new type of account, keep the focus on how Veterans can benefit. Don’t use phrases like “to protect VA’s data security,” since that puts the responsibility for VA data security on Veterans.  
- The language around sign in and identity is rapidly evolving. Check back often for updates. 

## Related terms

**account** 
: We use this term to describe the account that a Veteran uses to sign in to VA.gov (such as “your Login.gov account”). 
: - Note: We don’t use the phrases “your VA.gov account” or “VA account.” We don’t use the term “credential.” 
 
**multifactor authentication and 2-factor authentication**
: We use these terms to describe the multifactor security process that Veterans must use when they sign in to VA.gov. 
: - Note: Use “multifactor authentication” as the main term. Where space allows, we can include, “This process is also sometimes called 2-factor authentication.” 

**My HealtheVet** 
: “My HealtheVet” is 2 words. Don’t italicize the “e” between “Health” and “Vet” in digital content body copy, headlines, and user interface elements such as links, buttons, and navigation. The “e” is italicized only in the logo and in print materials. 
 
**security standards** 
: We may use the phrase “meets modern security standards” when describing sign-in partners. Like this: “Login.gov is a U.S. government account that meets modern security standards.” 
: - Note: We’re reviewing some alternate messaging related to this for the future. 

**sign in/sign out** 
: We always use “sign in” and “sign out” to describe the process of authenticating on VA.gov.
: - Note: We don’t use “log in”/“log out” or “sign on.” 

**verify your identity**
: We use this to describe the process of proving your identity through a sign-in partner like Login.gov or ID.me. 
: - Note: Login.gov and ID.me use “verify your identity” to describe this process. We can explain this in Veteran content as, “We’ll ask you to verify your identity (prove that you’re you).” 

## Retired terms

**2-factor authentication**
: Use “multifactor authentication” as the main term. Where space allows, we can include, “This process is also sometimes called 2-factor authentication.” 

## Resources

- [Signing in to VA.gov](https://www.va.gov/resources/signing-in-to-vagov/)
- [Creating an account for VA.gov](https://www.va.gov/resources/creating-an-account-for-vagov/)
