{% assign component-library = site.data.component_library_releases[0] %}
{% assign guidance = site.data.site_releases[0] %}

<div class="vads-u-background-color--info-lighter vads-u-padding-y--1">
  <div class="site-l-wrapper">
    <p class="vads-u-font-size--md vads-u-margin--0">
      <strong>Latest release:</strong>
      Component Library: <a href="{{ site.baseurl }}/about/whats-new#vads-component-library-releases">{{ component-library.name }}</a>,
      Guidance: <a href="{{ site.baseurl }}/about/whats-new#guidance-updates">{{ guidance.name }}</a>,
      Figma: <a href="{{ site.baseurl }}/about/whats-new#figma-component-library-changelog">Changelog</a>
    </p>
  </div>
</div>