<table class="usa-table usa-table-borderless">
  <thead>
    <tr>
      <th>breakpoint-name</th>
      <th>width</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>xsmall-screen</code></td>
      <td>320px</td>
    </tr>
    <tr>
      <td><code>small-screen</code></td>
      <td>481px</td>
    </tr>
    <tr>
      <td><code>medium-screen</code></td>
      <td>768px</td>
    </tr>
    <tr>
      <td><code>small-desktop-screen</code></td>
      <td>1008px</td>
    </tr>
    <tr>
      <td><code>large-screen</code></td>
      <td>1201px</td>
    </tr>
  </tbody>
</table>