<va-table table-type="bordered" full-width>
  <va-table-row>
    <span>Deprecated Breakpoints Names</span>
    <span>USWDS Breakpoint Sass Variable</span>
    <span>USWDS Breakpoint Custom Property</span>
    <span>Width</span>
  </va-table-row>
  <va-table-row>
    <span><code class="code">$xsmall-screen</code></span>
    <span><code class="code">$mobile</code></span>
    <span><code class="code">--mobile</code></span>
    <span>320px</span>
  </va-table-row>
  <va-table-row>
    <span><code class="code">$small-screen</code></span>
    <span><code class="code">$mobile-lg</code></span>
    <span><code class="code">--mobile-lg</code></span>
    <span>481px</span>
  </va-table-row>
  <va-table-row>
    <span></span>
    <span><code class="code">$tablet</code></span>
    <span><code class="code">--tablet</code></span>
    <span>640px</span>
  </va-table-row>
  <va-table-row>
    <span><code class="code">$medium-screen</code></span>
    <span><code class="code">$medium-screen</code></span>
    <span><code class="code">--medium-screen</code></span>
    <span>768px</span>
  </va-table-row>
  <va-table-row>
    <span><code class="code">$small-desktop-screen</code></span>
    <span><code class="code">$desktop</code></span>
    <span><code class="code">--desktop</code></span>
    <span>1024px</span>
  </va-table-row>
  <va-table-row>
    <span><code class="code">$large-screen</code></span>
    <span><code class="code">$desktop-lg</code></span>
    <span><code class="code">--desktop-lg</code></span>
    <span>1201px</span>
  </va-table-row>
</va-table>

{% unless include.hide_link == true %}
<p>Read more about <a href="{{ site.baseurl }}/foundation/breakpoints">breakpoints</a>.</p>
{% endunless %}