<nav class="va-sidebarnav site-mobile-nav" id="mobile-nav">
  <button id="close_mobile_nav_button" class="site-mobile-nav__close-button" type="button" aria-label="Close this menu"><i class="fas fa-times"></i></button>
  <ul class="usa-accordion">
  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button"
      aria-expanded="{% if page.url contains "/about/" %}true{% else %}false{% endif %}" aria-controls="nav-a1">About</button>
  </li>
  <div id="nav-a1" class="usa-accordion-content" aria-hidden="{% if page.url contains "/about/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "about/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "about/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/about">Overview</a>
      </li>
      {% assign sortedAbout = site.about | sort: "title", "last" %}
      {% for p in sortedAbout %}
       {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/content-style-guide/" %}true{% else %}false{% endif %}" aria-controls="nav-a2">
      Content
    </button>
  </li>
  <div id="nav-a2" class="usa-accordion-content" aria-hidden="{% if page.url contains "/content-style-guide/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "content-style-guide/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "content-style-guide/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/content-style-guide">Overview</a>
      </li>
      {% assign sortedCSG = site.content-style-guide | sort: "title", "last" %}
      {% for p in sortedCSG %}
        {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/foundation/" %}true{% else %}false{% endif %}" aria-controls="nav-a3">
      Foundation
    </button>
  </li>
  <div id="nav-a3" class="usa-accordion-content" aria-hidden="{% if page.url contains "/foundation/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "foundation/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "foundation/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/foundation">Overview</a>
      </li>
      {% assign sortedFoundation = site.foundation | sort: "title", "last" %}
      {% for p in sortedFoundation %}
      {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/components/" %}true{% else %}false{% endif %}" aria-controls="nav-a4">
      Components
    </button>
  </li>
  <div id="nav-a4" class="usa-accordion-content" aria-hidden="{% if page.url contains "/components/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "components/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "components/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/components">Overview</a>
      </li>
      {% assign sortedComponents = site.components | sort: "title", "last" %}
      {% for p in sortedComponents %}
      {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/patterns/" %}true{% else %}false{% endif %}" aria-controls="nav-a5">
      Patterns
    </button>
  </li>
  <div id="nav-a5" class="usa-accordion-content" aria-hidden="{% if page.url contains "/patterns/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "patterns/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "patterns/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/patterns">Overview</a>
      </li>
      {% assign sortedPatterns = site.patterns | sort: "title", "last" %}
      {% for p in sortedPatterns %}
        {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
          {% endif %}
      {% endfor %}
    </ul>
  </div>
  </ul>
</nav>
