<nav class="va-sidebarnav site-mobile-nav" id="mobile-nav">
  <button id="close_mobile_nav_button" class="site-mobile-nav__close-button" type="button" aria-label="Close this menu"><i class="fas fa-times"></i></button>
  <ul class="usa-accordion">
  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button"
      aria-expanded="{% if page.url contains "/about/" %}true{% else %}false{% endif %}" aria-controls="nav-a1">About</button>
  </li>
  <div id="nav-a1" class="usa-accordion-content" aria-hidden="{% if page.url contains "/about/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "about/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "about/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/about">Overview</a>
      </li>
      {% assign sortedAbout = site.about | sort: "title", "last" %}
      {% for p in sortedAbout %}
       {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/content-style-guide/" %}true{% else %}false{% endif %}" aria-controls="nav-a2">
      Content
    </button>
  </li>
  <div id="nav-a2" class="usa-accordion-content" aria-hidden="{% if page.url contains "/content-style-guide/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "content-style-guide/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "content-style-guide/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/content-style-guide">Overview</a>
      </li>
      {% assign sortedCSG = site.content-style-guide | sort: "title", "last" %}
      {% for p in sortedCSG %}
        {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/foundation/" %}true{% else %}false{% endif %}" aria-controls="nav-a3">
      Foundation
    </button>
  </li>
  <div id="nav-a3" class="usa-accordion-content" aria-hidden="{% if page.url contains "/foundation/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "foundation/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "foundation/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/foundation">Overview</a>
      </li>
      {% assign sortedFoundation = site.foundation | sort: "title", "last" %}
      {% for p in sortedFoundation %}
      {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/components/" %}true{% else %}false{% endif %}" aria-controls="nav-a4">
      Components
    </button>
  </li>
  <div id="nav-a4" class="usa-accordion-content" aria-hidden="{% if page.url contains "/components/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "components/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "components/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/components">Overview</a>
      </li>
      {% assign sortedComponents = site.components | sort: "title", "last" %}
      {% for p in sortedComponents %}
      {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <li>
    <button class="usa-accordion-button" aria-expanded="{% if page.url contains "/patterns/" %}true{% else %}false{% endif %}" aria-controls="nav-a5">
      Patterns
    </button>
  </li>
  <div id="nav-a5" class="usa-accordion-content" aria-hidden="{% if page.url contains "/patterns/" %}false{% else %}true{% endif %}">
    <ul class="usa-sidenav-list">
      <li class="{% if page.url contains "patterns/index" %}active-level{% endif %}">
        <a class="{% if page.url contains "patterns/index" %}usa-current{% endif %}" href="{{ site.baseurl }}/patterns">Overview</a>
      </li>
      {% assign sortedPatterns = site.patterns | sort: "title", "last" %}
      {% for p in sortedPatterns %}
        {% if p.layout != "iframe" %}
          {% unless p.index or p.draft %}
            <li class="{% if p.url == page.url %}active-level{% endif %}">
              <a class="{% if p.url == page.url %}usa-current{% endif %}" href="{{site.baseurl}}{{ p.url }}">{{p.title}}</a>
            </li>
          {% endunless %}
          {% endif %}
      {% endfor %}
    </ul>
  </div>
  </ul>
  <a href="{{ site.github_issues_templates }}" class="site-mobile-nav__link site-mobile-nav__link--icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 32" width="16">
      <path fill="currentColor" fill-rule="evenodd"
        d="M.75 16A16 16 0 0 0 11.7 31.18c.8.15 1.1-.34 1.1-.77l-.02-2.72c-4.46.97-5.4-2.15-5.4-2.15C6.66 23.7 5.6 23.2 5.6 23.2c-1.45-.99.1-.97.1-.97 1.61.11 2.46 1.65 2.46 1.65 1.43 2.45 3.74 1.74 4.66 1.33a3.42 3.42 0 0 1 1.01-2.14c-3.55-.4-7.29-1.78-7.29-7.9 0-1.75.63-3.18 1.65-4.3-.16-.4-.71-2.03.16-4.23 0 0 1.34-.43 4.4 1.64a15.33 15.33 0 0 1 8 0c3.06-2.07 4.4-1.64 4.4-1.64.88 2.2.33 3.83.16 4.23a6.17 6.17 0 0 1 1.65 4.3c0 6.14-3.74 7.5-7.3 7.89.57.5 1.08 1.47 1.08 2.96l-.02 4.4c0 .42.29.92 1.1.76A16 16 0 1 0 .75 16Z" />
    </svg>
    Submit Issue
  </a>
</nav>
