<div class="site-c-showcase__col vads-l-col--12 vads-u-display--flex medium-screen:vads-u-justify-content--space-between medium-screen:vads-u-align-items--center vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
  <div>
    <p class="site-c-utility-class medium-screen:vads-u-margin-top--2 medium-screen:vads-u-margin-bottom--0p5">.vads-u-{{ include.class }}</p>
  </div>

  <div class="vads-u-display--flex vads-u-align-items--center">
    <p class="site-c-utility-value vads-u-margin-y--0 vads-u-margin-right--2">{{ include.value }}</p>
    <div class="site-c-showcase__padding-example">
      <div class="site-c-showcase__padding-example__outer vads-u-{{ include.class }}"><div class="site-c-showcase__padding-example__inner"></div></div>
    </div>
  </div>
</div>