<ul class="site-c-sidenav-list">
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link {% if page.sub_section contains "index" %} current {% endif %}" href="index.html">Overview</a>
  </li>
  {% for p in include.section %}
    {% unless p.sub_section contains "index" %}
      <li class="site-c-sidenav-list__item">
        <a class="site-c-sidenav-list__link {% if p.url == page.url %} current {% endif %}" href="{{ site.baseurl }}/{{ p.path | remove: '_' | replace: ".md", ".html" }}">{{p.title}}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>