<div class="site-top-nav-wrapper site-l-wrapper {% unless page.homepage %}sticky{% endunless %}">
  <nav class="site-header__nav">
    <ul class="site-header__nav-list">
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/about/" %} current {% endif %}" href="{{ site.baseurl }}/about">About</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/content-style-guide/" %} current {% endif %}" href="{{ site.baseurl }}/content-style-guide">Content</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/foundation/" %} current {% endif %}" href="{{ site.baseurl }}/foundation">Foundation</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/components/" %} current {% endif %}" href="{{ site.baseurl }}/components">Components</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/patterns/" %} current {% endif %}" href="{{ site.baseurl }}/patterns">Patterns</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-item__link {% if page.url contains "/templates/" %} current {% endif %}" href="{{ site.baseurl }}/templates">Templates</a>
      </li>
    </ul>
    <ul class="site-header__nav-list">
      <li class="site-header__nav-item">
        <a href="{{ site.github_issues_templates }}" class="site-header__nav-item__link site-header__nav-item__link--icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 32" width="16">
            <path fill="currentColor" fill-rule="evenodd"
              d="M.75 16A16 16 0 0 0 11.7 31.18c.8.15 1.1-.34 1.1-.77l-.02-2.72c-4.46.97-5.4-2.15-5.4-2.15C6.66 23.7 5.6 23.2 5.6 23.2c-1.45-.99.1-.97.1-.97 1.61.11 2.46 1.65 2.46 1.65 1.43 2.45 3.74 1.74 4.66 1.33a3.42 3.42 0 0 1 1.01-2.14c-3.55-.4-7.29-1.78-7.29-7.9 0-1.75.63-3.18 1.65-4.3-.16-.4-.71-2.03.16-4.23 0 0 1.34-.43 4.4 1.64a15.33 15.33 0 0 1 8 0c3.06-2.07 4.4-1.64 4.4-1.64.88 2.2.33 3.83.16 4.23a6.17 6.17 0 0 1 1.65 4.3c0 6.14-3.74 7.5-7.3 7.89.57.5 1.08 1.47 1.08 2.96l-.02 4.4c0 .42.29.92 1.1.76A16 16 0 1 0 .75 16Z" />
          </svg>
          Submit Issue
        </a>
      </li>
    </ul>
  </nav>
</div>