{% assign component_tag = page.web-component %}

{% if component_tag %}
  {% assign maturity = site.data.component-maturity[component_tag] %}
  {% assign status-category = maturity.maturityCategory | default: "dont_use" %}
  {% assign status-title = maturity.maturityLevel | replace: '_', '-' | default: "proposed" %}

  {% assign display-category = status-category %}
  {% if status-category == "dont_use" %}
    {% assign display-category = "Don't use" %}
  {% elsif status-category == "caution" %}
    {% assign status-category = "use-with-caution" %}
    {% assign display-category = "Use with caution" %}
  {% endif %}
{% else %}
  {% for scale in site.data.maturity-scale.scale %}
    {% if page.status == scale.name %}
      {% assign status-category = scale.category-slug %}
      {% assign display-category = scale.category %}
      {% assign status-title = scale.title %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign maturity-slug = status-category | append: '-' | append: status-title %}
{% assign maturity-slug = maturity-slug | downcase | slugify %}

<a class="site-component-status__link" href="{{ site.baseurl }}/about/maturity-scale#{{maturity-slug}}">
  <span class="usa-label site-component-status site-component-status--{{maturity-slug}}">
    {{ display-category }}: {{ status-title }}
  </span>
</a>