<div class="vads-l-col site-showcase__col vads-u-display--flex medium-screen:vads-u-align-items--center vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
  <div class="vads-u-display--flex vads-u-margin-right--2">
    <div class="vads-u-background-color--white vads-u-padding--1">
      <div class="vads-u-border--2px vads-u-border-color--{{ include.name }}" style="width: 20px; height: 20px;"></div>
    </div>
    <div class="vads-u-background-color--black vads-u-padding--1">
      <div class="vads-u-border--2px vads-u-border-color--{{ include.name }}" style="width: 20px; height: 20px;"></div>
    </div>
  </div>
  <div>
    <code class="code">.vads-u-border-color--{{ include.name }}</code>
  </div>
  <div class="medium-screen:vads-u-margin-left--auto medium-screen:vads-u-display--flex">
    <div class="utility-value-color medium-screen:vads-u-margin-right--1 vads-u-color--secondary-darkest">
      $color-{{ include.name }}
    </div>
    <div class="utility-value-color">
      <span class="utility-value-color__chip vads-u-background-color--{{ include.name }}"></span>
      #{{ include.hex }}
    </div>
  </div>
</div>