<div class="site-showcase__col vads-grid-col-12 vads-u-display--flex tablet:vads-u-justify-content--space-between tablet:vads-u-align-items--center vads-u-flex-direction--column tablet:vads-u-flex-direction--row">
  <div>
    <p class="site-utility-class tablet:vads-u-margin-top--2 tablet:vads-u-margin-bottom--0p5">
      .vads-u-{{include.class}}--{{ include.value }}
    </p>
  </div>

  <div class="vads-u-display--flex vads-u-align-items--center">
    <p class="site-utility-value vads-u-margin-y--0 vads-u-margin-right--2">{{ include.value }}</p>
    <div class="vads-u-background-color--gray-lightest {{include.extra_class}} vads-u-{{include.class}}--{{ include.value }}" style="width: 40px; height: 40px;">
    </div>
  </div>
</div>