{% assign github_component_name = page.web-component %}

{% if page.github-title %}
  {% assign github_component_name = page.github-title %}
{% endif %}

{% if page.research-title %}
  {% assign research_component_name = page.research-title %}
{% else %}
  {% if page.layout == 'component' %}
    {% assign research_component_name = page.title | replace: ' ', '+' %}
  {% endif %}
{% endif %}

{% if page.code-link%}
  {% assign code-link = page.code-link %}
{% endif %}

{% if github_component_name or research_component_name or page.sketch-link or page.figma-link %}
<nav aria-labelledby="component-resources" class="site-component-resources-links">
  <dl class="site-component-resources-links__list">
    <dt id="component-resources" role="heading" aria-level="2" class="site-component-resources-links__title">
      Resources
    </dt>
    {% if github_component_name %}
    <dd role="definition" class="site-component-resources-links__definition">
      <a class="site-component-resources-links__link" href="https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues?q=is%3Aissue+is%3Aopen+label%3A{{github_component_name}}" target="_blank" rel="noopener noreferrer" title="View issues related to this component (internal only)">
        <img aria-hidden="true" src="{{ site.baseurl }}/assets/img/github-logo.svg" alt="Github logo" role="img" class="site-component-resources-links__img">Open Issues
      </a>
    </dd>
    {% endif %}
    {% if research_component_name %}
    <dd role="definition" class="site-component-resources-links__definition">
      <a class="site-component-resources-links__link" href="https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues?q=is%3Aissue+label%3A%22DSC%3A+{{research_component_name}}%22" target="_blank" rel="noopener noreferrer" title="View research related to this component (internal only)">
        <i aria-hidden="true" class="fas fa-book site-component-resources-links__icon" role="img"></i>Research
      </a>
    </dd>
    {% endif %}
    {% if page.sketch-link %}
    <dd role="definition" class="site-component-resources-links__definition">
      <a class="site-component-resources-links__link" href="{{page.sketch-link}}" target="_blank" rel="noopener noreferrer" title="View the visual design for this component (internal only)">
        <img aria-hidden="true" src="{{ site.baseurl }}/assets/img/sketch-logo-black.svg" alt="Sketch logo" role="img" class="site-component-resources-links__img">Sketch
      </a>
    </dd>
    {% endif %}
    {% if page.figma-link %}
    <dd role="definition" class="site-component-resources-links__definition">
      <a class="site-component-resources-links__link" href="{{page.figma-link}}" target="_blank" rel="noopener noreferrer" title="View the visual design for this component (internal only)">
        <img aria-hidden="true" src="{{ site.baseurl }}/assets/img/figma-logo.svg" alt="Figma logo" role="img" class="site-component-resources-links__img">Figma
      </a>
    </dd>
    {% endif %}
    {% if page.code-link %}
    <dd role="definition" class="site-component-resources-links__definition">
      <a class="site-component-resources-links__link" href="{{code-link}}" target="_blank" title="View code for this component or pattern">
        <img aria-hidden="true" src="{{ site.baseurl }}/assets/img/code-solid.svg" alt="Code icon" role="img" class="site-component-resources-links__img">Code
      </a>
    </dd>
    {% endif %}
  </dl>
</nav>
{% endif %}