## Attributes and Properties
<table>
  <tr>
    <th><strong>Property</strong></th>
    <th><strong>Attribute</strong></th>
    <th><strong>Type</strong></th>
    <th><strong>Default</strong></th>
    <th><strong>Description</strong></th>
  </tr>
  {% for component in site.data.component-docs.components %} {% if component.tag
  == include.component_name %}
  <div>
    {% for prop in component.props %}
    <tr>
      <th>{{ prop.name }}</th>
      <th>{{ prop.attr }}</th>
      <th>{{ prop.type }}</th>
      <th>{{ prop.default | default: "" }}</th>
      <th>{{ prop.docs }}</th>
    </tr>
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</table>

## Events
<table>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Description</strong></th>
  </tr>
  {% for component in site.data.component-docs.components %} {% if component.tag
  == include.component_name %}
  <div>
    {% for event in component.events %}
    <tr>
      <th>{{ event.event }}</th>
      <th>{{ event.docs }}</th>
    </tr>
    {% endfor %} {% for listener in component.listeners %} {% assign docs =
    component.docsTags | where: "name", listener.event %}
    <tr>
      <th>{{ listener.event }}</th>
      <th>{% for doc in docs %} {{ doc.text }} {% endfor %}</th>
    </tr>
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</table>
