{% comment %} Check if we have web component data {% endcomment %}
{% assign has_web_component = false %}
{% for component in site.data.component-docs.components %}
  {% if component.tag == include.component_name %}
    {% assign has_web_component = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Check if we have mobile app component data {% endcomment %}
{% assign has_mobile_component = false %}
{% for mobile_app_component in site.data.mobile-app-component-docs-source.components %}
  {% if mobile_app_component.tag == include.component_name %}
    {% assign has_mobile_component = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Only show code usage section if we have component data {% endcomment %}
{% if has_web_component or has_mobile_component %}

<h2 id="code-usage">Code usage</h2>

{% comment %} Check if we have both web and mobile app to determine if we need tabs {% endcomment %}
{% assign has_web = false %}
{% assign has_mobile = false %}

{% if has_web_component and page.web == true %}
  {% for component in site.data.component-docs.components %}
    {% if component.tag == include.component_name %}
      {% if component.props != empty or component.events != empty %}
        {% assign has_web = true %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if has_mobile_component and page.mobile-app == true %}
  {% for mobile_app_component in site.data.mobile-app-component-docs-source.components %}
    {% if mobile_app_component.tag == include.component_name %}
      {% if mobile_app_component.props != empty or mobile_app_component.events != empty %}
        {% assign has_mobile = true %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if has_web and has_mobile %}
  {% comment %} Use tabs when both platforms are supported {% endcomment %}
  
  <va-tabs initially-selected="0" label="Web and Mobile app code usage">
    <va-tab-item button-text="Web" target-id="panel-1"></va-tab-item>
    <va-tab-panel panel-id="panel-1">
      <h3>Web</h3>

      {% for component in site.data.component-docs.components %}
        {% if component.tag == include.component_name %}
          {% if component.props != empty %}
          <div style="max-width: 100%;">
          <h4>Attributes and Properties</h4>

          <va-table table-type="bordered">
            <va-table-row>
              <span>Property</span>
              <span>Attribute</span>
              <span>Type</span>
              <span>Default</span>
              <span>Description</span>
            </va-table-row>
            {% for prop in component.props %}
            <va-table-row>
              <span><code class="code">{{ prop.name }}</code></span>
              <span><code class="code">{{ prop.attr }}</code></span>
              <span>{% if prop.type %}<code class="code">{{ prop.type }}</code>{% endif %}</span>
              <span>{% if prop.default %}<code class="code">{{ prop.default }}</code>{% endif %}</span>
              <span>{{ prop.docs | markdownify }}</span>
            </va-table-row>
            {% endfor %}
          </va-table>
          </div>
          {% endif %}

          {% if component.events != empty %}
          <div style="max-width: 100%;">
          <h4>Events</h4>

          <va-table table-type="bordered">
            <va-table-row>
              <span>Name</span>
              <span>Description</span>
            </va-table-row>
            {% for event in component.events %}
            <va-table-row>
              <span><code class="code">{{ event.event }}</code></span>
              <span>{{ event.docs }}</span>
            </va-table-row>
            {% endfor %}
            {% for listener in component.listeners %}
              {% assign docs = component.docsTags | where: "name", listener.event %}
            <va-table-row>
              <span><code class="code">{{ listener.event }}</code></span>
              <span>{% for doc in docs %} {{ doc.text }} {% endfor %}</span>
            </va-table-row>
            {% endfor %}
          </va-table>
          </div>
          {% endif %}
          {% break %}
        {% endif %}
      {% endfor %}
    </va-tab-panel>

    <va-tab-item button-text="Mobile app" target-id="panel-2"></va-tab-item>
  <va-tab-panel panel-id="panel-2">
    {% assign storybook_name = include.component_name | replace: 'va-', '' | replace: '-', '_' %}

    {% for mobile_app_component in site.data.mobile-app-component-docs-source.components %}
    {% if mobile_app_component.tag == include.component_name %}

    <h3>Mobile app</h3>

    {% if mobile_app_component.props != empty %}
    <div style="max-width: 100%;">
      <h4>Props</h4>

      <va-table table-type="bordered">
        <va-table-row>
          <span>Property</span>
          <span>Type</span>
          <span>Default</span>
          <span>Description</span>
        </va-table-row>
        {% for prop in mobile_app_component.props %}
        <va-table-row>
          <span><code class="code">{{ prop.name }}</code></span>
          <span>{% if prop.type %}<code class="code">{{ prop.type }}</code>{% endif %}</span>
          <span>{% if prop.default %}<code class="code">{{ prop.default }}</code>{% endif %}</span>
          <span>{{ prop.docs | markdownify }}</span>
        </va-table-row>
        {% endfor %}
      </va-table>
    </div>
    {% endif %}

    {% if mobile_app_component.events != empty %}
    <div style="max-width: 100%;">
      <h4>Events</h4>

      <va-table table-type="bordered">
        <va-table-row>
          <span>Name</span>
          <span>Description</span>
        </va-table-row>
        {% for event in mobile_app_component.events %}
        <va-table-row>
          <span><code class="code">{{ event.name }}</code></span>
          <span>{{ event.docs }}</span>
        </va-table-row>
        {% endfor %}
      </va-table>
    </div>
    {% endif %}

    {% break %}
    {% endif %}
    {% endfor %}
  </va-tab-panel>
</va-tabs>

{% else %}
{% comment %} Show individual sections when only one platform is supported {% endcomment %}
{% if page.web == true and has_web == true %}
<h3>Web</h3>
{% for component in site.data.component-docs.components %}
{% if component.tag == include.component_name %}
{% if component.props != empty %}
<div style="max-width: 100%;">
<h4>Attributes and Properties</h4>

<va-table table-type="bordered">
<va-table-row>
<span>Property</span>
<span>Attribute</span>
<span>Type</span>
<span>Default</span>
<span>Description</span>
</va-table-row>
{% for prop in component.props %}
<va-table-row>
<span><code class="code">{{ prop.name }}</code></span>
<span><code class="code">{{ prop.attr }}</code></span>
<span>{% if prop.type %}<code class="code">{{ prop.type }}</code>{% endif %}</span>
<span>{% if prop.default %}<code class="code">{{ prop.default }}</code>{% endif %}</span>
<span>{{ prop.docs | markdownify }}</span>
</va-table-row>
{% endfor %}
</va-table>
</div>
{% endif %}

{% if component.events != empty %}
<div style="max-width: 100%;">
<h4>Events</h4>
<va-table table-type="bordered">
<va-table-row>
<span>Name</span>
<span>Description</span>
</va-table-row>
{% for event in component.events %}
<va-table-row>
<span><code class="code">{{ event.event }}</code></span>
<span>{{ event.docs }}</span>
</va-table-row>
{% endfor %}
{% for listener in component.listeners %}
{% assign docs = component.docsTags | where: "name", listener.event %}
<va-table-row>
<span><code class="code">{{ listener.event }}</code></span>
<span>{% for doc in docs %} {{ doc.text }} {% endfor %}</span>
</va-table-row>
{% endfor %}
</va-table>
</div>
{% endif %}
{% break %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% comment %} Mobile App Component Documentation - only show if not using tabs {% endcomment %}
{% if page.mobile-app == true and has_mobile == true %}
{% unless has_web == true %}
{% assign storybook_name = include.component_name | replace: 'va-', '' | replace: '-', '_' %}

{% for mobile_app_component in site.data.mobile-app-component-docs-source.components %}
{% if mobile_app_component.tag == include.component_name %}

<h3>Mobile app</h3>

{% if mobile_app_component.props != empty %}
<div style="max-width: 100%;">
  <h4>Props</h4>

  <va-table table-type="bordered">
    <va-table-row>
      <span>Property</span>
      <span>Type</span>
      <span>Default</span>
      <span>Description</span>
    </va-table-row>
    {% for prop in mobile_app_component.props %}
    <va-table-row>
      <span><code class="code">{{ prop.name }}</code></span>
      <span>{% if prop.type %}<code class="code">{{ prop.type }}</code>{% endif %}</span>
      <span>{% if prop.default %}<code class="code">{{ prop.default }}</code>{% endif %}</span>
      <span>{{ prop.docs | markdownify }}</span>
    </va-table-row>
    {% endfor %}
  </va-table>
</div>
{% endif %}

{% if mobile_app_component.events != empty %}
<div style="max-width: 100%;">
  <h4>Events</h4>

  <va-table table-type="bordered">
    <va-table-row>
      <span>Name</span>
      <span>Description</span>
    </va-table-row>
    {% for event in mobile_app_component.events %}
    <va-table-row>
      <span><code class="code">{{ event.name }}</code></span>
      <span>{{ event.docs }}</span>
    </va-table-row>
    {% endfor %}
  </va-table>
</div>
{% endif %}

      {% break %}
    {% endif %}
  {% endfor %}
  {% endunless %}
{% endif %}

{% endif %}