{% capture containerClasses %}
  vads-u-margin--2
  vads-u-padding--2
  vads-u-flex--1
  vads-u-border--1px
  vads-u-border-color--gray-lighter
  vads-u-border-top--4px
{% endcapture %}

{% capture headerClasses %}
  vads-u-display--flex
  vads-u-font-family--sans
  vads-u-font-size--lg
  vads-u-margin--0
  vads-u-border-bottom--1px
  vads-u-border-color--gray-lighter
  vads-u-padding-bottom--2
{% endcapture %}

<div class="medium-screen:vads-u-display--flex">
  <div class="{{ containerClasses }} vads-u-border-color-top--green">
    <h3 class="{{ headerClasses }} vads-u-color--green">
      <img src="/assets/img/check-circle-green.svg" class="vads-u-margin-right--1" aria-hidden="true" />
      Like this
    </h3>
    <div>
      {{ do }}
    </div>
  </div>

  <div class="{{ containerClasses }} vads-u-border-color-top--secondary">
    <h3 class="{{ headerClasses }} vads-u-color--secondary">
      <img src="/assets/img/times-circle-red.svg" class="vads-u-margin-right--1" aria-hidden="true" />
      Not this
    </h3>
    <div>
      {{ dont }}
    </div>
  </div>
</div>


<style>
.vads-u-border-color-top--green {
  border-top-color: #2e8540 !important;
}

.vads-u-border-color-top--secondary {
  border-top-color: #e31c3d !important;
}
</style>
