<a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="{{ site.baseurl }}/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        Here's how you know
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header" role="banner">

  <div class="site-l-wrapper">
    <div class="site-c-header__masthead">
      <div class="site-c-header__logo" id="extended-logo">
        <em class="site-c-header__logo-text">
          <a class="site-c-header__logo-link" title="VA.gov Design System homepage" href="{{ site.baseurl }}/"><strong class="vads-u-display--block small-screen:vads-u-display--inline">VA.gov</strong> <span class="vads-u-display--none small-screen:vads-u-display--inline">|</span> Design System</a>
        </em>
      </div>
      <div class="site-c-header__utility-links">
        <a href="{{ site.baseurl }}/documentation/whats-new.html" class="usa-button site-button-inverse">What’s new?</a>
        <a href="{{ site.baseurl }}/documentation/code-and-design.html" class="usa-button vads-u-margin--0">Get code and design files</a>
        <div id="search-container" class="site-search-container">
          <i class="fas fa-search search-icon"></i>
          <form action="/results.html" method="get">
          <input type="search" class="site-search-container__input" id="search-input" placeholder="Search..." aria-label="Search" name="query" autocomplete="off">
          </form>
          <ul id="results-container" class="site-search-results" role="listbox"></ul>
        </div>
      </div>
      <button type="button" id="toggle-mobile-search" aria-label="Show search" class="site-toggle-search" aria-controls="mobile-search-container"><i class="fas fa-search"></i></button>
      <button class="site-c-header__open-mobile-nav-button" id="open-mobile-nav-button" aria-label="Open navigation menu" type="button">Menu</button>
    </div>
    <nav class="site-c-header__nav">
      <ul class="site-c-header__nav-list">
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/documentation/" %} current {% endif %}" href="{{ site.baseurl }}/documentation">Documentation</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/content-style-guide/" %} current {% endif %}" href="{{ site.baseurl }}/content-style-guide">Content</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/design/" %} current {% endif %}" href="{{ site.baseurl }}/design">Design</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/components/" %} current {% endif %}" href="{{ site.baseurl }}/components">Components</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/utilities/" %} current {% endif %}" href="{{ site.baseurl }}/utilities">Utilities</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/patterns/" %} current {% endif %}" href="{{ site.baseurl }}/patterns">Patterns</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link {% if page.url contains "/layout/" %} current {% endif %}" href="{{ site.baseurl }}/layout">Layout</a>
        </li>
      </ul>
    </nav>

  </div>

</header>

<div id="mobile-search-container" class="site-search-container site-seach-container--mobile">
  <i class="fas fa-search search-icon search-icon--mobile"></i>
  <form action="/results.html" method="get">
    <input type="search" class="site-search-container__input vads-u-max-width--none" id="mobile-search-input" placeholder="Search..." aria-label="Search" name="query" autocomplete="off">
  </form>
  <ul id="mobile-results-container" class="site-search-results site-search-results--mobile" role="listbox"></ul>
</div>