<div class="vads-l-col--12 site-c-showcase__col vads-u-display--flex medium-screen:vads-u-align-items--center vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row {% if include.index == 1 %}vads-u-border-top--0{% endif %}">
  <div>
    <code class="code">.vads-u-{{ include.prop }}--{{ include.name }} </code>
  </div>
  <div  class="medium-screen:vads-u-margin-left--3">
    <span class="site-c-utility-value">{{ include.value }}</span>
  </div>
  <div class="medium-screen:vads-u-margin-left--auto">
    <p>{{ include.description }}</p>
  </div>
</div>