<table class="usa-table usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Token</th>
      <th scope="col">Pixels</th>
      <th scope="col">Rems</th>
      <th scope="col">Example</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.spacing.units %}
    <tr>
      <th scope="row"><code class="code">{{ item.token }}</code></th>
      <td>{{ item.pixels }}</td>
      <td>{{ item.rems }}</td>
      <td>
        <div class="vads-u-background-color--primary" style="height: {{ item.pixels }}">
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>