<div class="site-c-showcase__col vads-l-row vads-u-align-items--flex-start">
  <div class="vads-l-col--12 medium-screen:vads-l-col--6">
      <code class="code">.vads-u-text-align--{{ include.name }}</code>
  </div>
  <div class="vads-l-col--12 medium-screen:vads-l-col--6">
    <div class="vads-u-text-align--{{ include.name }}">
      <p class="vads-u-margin-top--0">To fulfill President Lincoln's promise “To care for him who shall have borne the battle, and for his widow, and his orphan” by serving and honoring the men and women who are America’s veterans.</p>
    </div>
  </div>
</div>