# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

*      @department-of-veterans-affairs/vsp-design-system-fe
src/*  @department-of-veterans-affairs/vsp-design-system-team
