{% include storybook-preview.html story="uswds-va-text-input--error" link_text="Label with error" %}

* In all cases, only show error validation messages or stylings after a user has interacted with a particular field.
* The form field and its corresponding `<label>` are wrapped in a container which provides a thick border and padding to visual indicate an error message to users who might have difficulty perceiving contrast. It also changes the border of the input to red as a secondary indicator.
* An error message is placed between the label and the form field.
* The form field receives an `aria-describedby` attribute that references the `id` of the error message.
* Prepending `<span class="sr-only">Error</span>` to error messages alerts screen screen readers clearly that an error exists.

<a class="vads-c-action-link--blue" href="{{ site.baseurl }}/patterns/help-users-to/recover-from-errors">Review the help users to recover from errors pattern</a>
