# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: VA.gov Design System
#email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Design System for VA.gov
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://design.va.gov" # the base hostname & protocol for your site, e.g. http://example.com

project_name: VA.gov Design System

# Common links
sketch_cloud_link: https://sketch.cloud/s/8WM9O
sketch_github_link: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Work%20Practices/Design/Design%20Resources/Pattern%20Library/VA-gov-Pattern-Library.sketch

# Build settings
markdown: kramdown
highlighter: rouge
# theme: minima
# plugins:
#  - jekyll-feed


source: src

sass:
  sass_dir: assets/stylesheets/
  style: compressed

# Collections
collections:
  documentation:
    output: true
    permalink: /:collection/:title
  content-style-guide:
    output: true
    permalink: /:collection/:title
  design:
    output: true
    permalink: /:collection/:title
  components:
    output: true
    permalink: /:collection/:title
  patterns:
    output: true
    permalink: /:collection/:title
  layout:
    output: true
    permalink: /:collection/:title
  utilities:
    output: true
    permalink: /:collection/:title
  experimental-design:
    output: true
    permalink: /:collection/:title


includes:
  - /components/code

exclude:
  - node_modules
  - tmp_remote_assets
  - .sass-cache

# Default for building locally. See configuration files in jekyll-configs/ for
# environment overrides.
storybook_path: "http://localhost:6006"
