title: VA.gov Design System
description: Design System for VA.gov
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://design.va.gov" # Base hostname & protocol for the site

project_name: VA.gov Design System

# Common links
sketch_cloud_link: https://sketch.cloud/s/8WM9O
sketch_github_link: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Work%20Practices/Design/Design%20Resources/Pattern%20Library/VA-gov-Pattern-Library.sketch

github_issues_link_1: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues?q=is%3Aopen+is%3Aissue+label%3Acomponent-new%2Cpattern-new
github_issues_link_2: https://github.com/department-of-veterans-affairs/va.gov-team/issues?q=is%3Aopen+is%3Aissue+label%3Avsp-design-system-team+label%3Apattern-new
request_addition_link: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/new?assignees=&labels=&template=experimental_design_request.md&labels=vsp-design-system-team

slack_channel_name: "#platform-design-system"
slack_channel_link: https://dsva.slack.com/archives/C01DBGX4P45

new_component_template_link: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/tree/master/src/_components/experimental-design-template.md
new_component_template_raw_link: https://raw.githubusercontent.com/department-of-veterans-affairs/vets-design-system-documentation/master/src/_components/experimental-design-template.md

# People
sketch_for_teams_admin: "Kevin Hoffman" 
sketch_library_owner: "Natalie Hill"
experimental_reviewer_1: "Shawna Hein"
experimental_reviewer_2: "Matthew Dingee"


# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-last-modified-at

source: src

sass:
  sass_dir: assets/stylesheets/
  style: compressed
  implementation: sass-embedded

# Collections
collections:
  about:
    output: true
    permalink: /:collection/:title
  content-style-guide:
    output: true
    permalink: /:collection/:title
  design:
    output: true
    permalink: /:collection/:title
  components:
    output: true
    permalink: /:collection/:title
  patterns:
    output: true
    permalink: /:collection/:title
  layout:
    output: true
    permalink: /:collection/:title
  utilities:
    output: true
    permalink: /:collection/:title

includes:
  - /components/code

exclude:
  - node_modules
  - tmp_remote_assets
  - .sass-cache
  - .ruby_version
  - _design/html
  - _components/html
  - _patterns/html
  - _layout/html
  - _utilities/html

# Default for building locally. 
# See configuration files in jekyll-configs/ for environment overrides.
storybook_path: "http://localhost:6006"
