<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% if site.analytics == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2ZTDXZ"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include header.html %}
    {% include _mobile-nav.html %}
    <div>

    {% include _site-top-nav.html %}

    <div class="site-content vads-u-margin-bottom--9">
      {% include _site-content-nav.html %}
      <div class="site-content__content">
        <main lang="en" id="main-content" class="site-l-content-wrapper--styleguide large-screen:vads-u-margin-top--neg2">
          {% unless page.index %}
            {% if page.draft %}
              {% include _draft.html %}
            {% endif %}
            {% include _site-section-name.html %}
          <h1 id="{{ page.title }}">{{ page.title }}</h1>
            {% if page.status %}
              {% include _status.html %}
            {% endif %}

            {% include _component-translations.html %}

            {% if page.intro-text %}
            <div class="va-introtext" markdown="1">
              {{ page.intro-text }}
            </div>
            {% endif %}
            {% include component-resource-links.html %}
            {% include component-contributors.html %}
            {% if page.anchors %}
              {% include _site-on-this-page.html %}
            {% endif %}
          {% endunless %}
          {{ content }}
        </main>
        {% include edit-on-github.html %}
        {% include timestamps.html %}
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script src="{{ site.baseurl }}/assets/javascripts/site.js"></script>
  <script src="{{ site.baseurl }}/vendor/javascripts/formation.js"></script>
  </body>
</html>


