<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="root"></div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- placeholder for a sample React component -->
    <div id="reactComponentDemo"></div>
    <!-- end placeholder for a sample React component -->
    
    {% include footer.html %}
    <script type="text/javascript" src="/vendor/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
