<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include _mobile-nav.html %}

    <div class="site-c-content">
      {% if page.homepage %}
      <main id="site-content" class="site-l-wrapper">
        {{ content }}
      </main>
      {% else %}
      <div class="site-c-content__nav">
        {% if page.url contains "/documentation/" %}
          {% include _side-nav.html section=site.documentation %}
        {% elsif page.url contains "/design/" %}
          {% include _side-nav.html section=site.design %}
        {% elsif page.url contains "/components/" %}
          {% include _side-nav.html section=site.components %}
        {% elsif page.url contains "/patterns/" %}
          {% include _side-nav.html section=site.patterns %}
        {% elsif page.url contains "/utilities/" %}
          {% include _side-nav.html section=site.utilities %}
        {% elsif page.url contains "/layout/" %}
          {% include _side-nav.html section=site.layout %}
        {% elsif page.url contains "/content-style-guide/" %}
            {% include _side-nav.html section=site.content-style-guide %}
        {% endif %}
      </div>
      <div class="site-c-content__content">
        <main id="site-content" class="site-l-content-wrapper--styleguide">
          {{ content }}
        </main>
      </div>
      {% endif %}

    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/vendor/javascripts/bundle.js" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/assets/javascripts/site.js"></script>
  </body>

</html>
