<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="site-c-content">
      {% if page.homepage %}
      <main id="site-content" class="site-l-wrapper">
        {{ content }}
      </main>
      {% else %}
      <div class="site-c-content__nav">
        {% if page.url contains "/design-system/" %}
          {% include _design-system-nav.html %}
        {% elsif page.url contains "/content-style-guide/" %}
          {% include _content-style-guide-nav.html %}
        {% endif %}
      </div>
      <div class="site-c-content__content">
        <main id="site-content" class="site-l-content-wrapper--styleguide">
          {{ content }}
        </main>
      </div>
      {% endif %}

    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/vendor/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
