<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<!-- This layout is for generic documentation that is not a component or pattern. -->

<body>
  {% if site.analytics == "production" %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2ZTDXZ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include header.html %}
  {% include _mobile-nav.html %}
  <div>

    {% include _site-top-nav.html %}
    {% include _banner-whats-new.html %}

    <div class="site-content vads-u-margin-bottom--9">
      {% include _site-content-nav.html %}
      <article class="site-content__content">
        {% if page.sidebar %}
        <main id="main-content" class="site-l-content-wrapper--sidebar desktop-lg:vads-u-margin-top--neg2">
          <aside class="main-content__sidebar">
            <va-on-this-page></va-on-this-page>
          </aside>
          <div class="main-content__content">
            {% if page.draft %}
              {% include _draft.html %}
            {% endif %}
            {% if collection_name %}
              {% include _site-section-name.html %}
            {% endif %}
            {% if page.status %}
              {% include _status.html %}
            {% endif %}
            <h1 id="{{ page.title }}">{{ page.title }}</h1>
            {% if page.intro-text %}
            <div class="va-introtext" markdown="1">
              {{ page.intro-text }}
            </div>
            {% endif %}
            {{ content }}
          </div>
        </main>
        {% else %}
        <main id="main-content" class="site-l-content-wrapper--styleguide desktop-lg:vads-u-margin-top--neg2">
          {% if page.draft %}
            {% include _draft.html %}
          {% endif %}
          {% if collection_name %}
            {% include _site-section-name.html %}
          {% endif %}
          {% if page.status %}
              {% include _status.html %}
            {% endif %}
          <h1 id="{{ page.title }}">{{ page.title }}</h1>
          {% if page.intro-text %}
          <div class="va-introtext" markdown="1">
            {{ page.intro-text }}
          </div>
          {% endif %}
          <va-on-this-page></va-on-this-page>
          {{ content }}
        </main>
        {% endif %}
        {% include edit-on-github.html %}
        {% include timestamps.html %}
        <va-back-to-top></va-back-to-top>
      </article>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>