<table>
  <caption>Applicant information labels</caption>
  <tr>
    <th>Plain-language label or question</th> 
    <th>Followup label or question</th>
    <th>Form notes</th>
  </tr>
  <tr>
    <td>Your first name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Your middle name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Your last name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Suffix</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Mother's maiden name</td>
    <td></td>
    <td>appears on Health care app</td>
  </tr>
  <tr>
    <td>Your date of birth</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Your place of birth</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Social Security number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>VA file number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td> Which categories best describe you?</td>
    <td>
      <ul>
        <li>Spanish</li>
        <li>Hispanic</li> 
        <li>Latino</li>
        <li>American Indian or Alaskan Native</li>
        <li>Black or African American</li>
        <li>Native Hawaiian or other Pacific Islander</li>
        <li>Asian</li>
        <li>White</li>
      </ul>
    </td>
    <td>Appears on Health care app</td>
  </tr>
  <tr>
    <td>What is your race, ethnicity, or origin? (Please check all that apply.)</td>
    <td>
      <ul>
        <li>American Indian or Alaskan Native</li>
        <li>Asian</li>
        <li>Black or African American</li>
        <li>Hispanic, Latino, or Spanish origin</li> 
        <li>Native Hawaiian or other Pacific Islander</li>
        <li>White</li>
        <li>Another race or ethnicity</li>
        <li>Prefer not to answer</li>
      </ul>
    </td>
    <td>Coronavirus research volunteer list</td>
  </tr>
  <tr>
    <td>Which of these best describe you?</td>
    <td>
      <ul>
        <li>Veteran</li>
        <li>Active-duty service member</li>
        <li>Member of the National Guard or Reserve</li>
        <li>VA employee</li>
        <li>Family member or caregiver of a Veteran or service member</li>
        <li>Enrolled in VA health care or CHAMPVA</li>
        <li>None of the above</li>
      </ul>
    </td>
    <td>Coronavirus research volunteer list</td>
  </tr>
  <tr>
    <td>What is your gender? (Please check all that apply.)</td>
    <td>
      <ul>
        <li>Man</li>
        <li>Woman</li>
        <li>Transgender man</li>
        <li>Transgender woman</li>
        <li>Non-binary</li>
        <li>Prefer to self-describe</li>
        <li>Prefer not to answer</li>
      </ul>
    </td>
    <td></td>
  </tr>
</table>