<table>
  <caption>Burial information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>What expenses did you incur for the Veteran's burial?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Type of burial allowance requested</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Date of death</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Date of burial (includes cremation or interment)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Is there anyone currently buried in a VA national cemetery under your eligibility?</td>
    <td></td>
    <td></td>
  </tr>
</table>