<table>
  <caption>Caregiver information labels</caption>
    <tr>
        <td>Plain-language label or question</td>
        <td>Followup label or question</td>
        <td>Form notes</td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's first name</td>
        <td>label is same for Secondary Family Caregiver</td>
        <td>Caregiver form</td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's middle name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's last name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's Social Security or tax identification number</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's date of birth</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's sex</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's current street address</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's primary phone number (including area code)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Primary Family Caregiver's alternate phone number (including area code)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>What's the Primary Family Caregiver's relationship to the Veteran?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Does the Primary Family Caregiver applicant have health care coverage, such as Medicaid, Medicare, CHAMPVA, Tricare, or private insurance?</td>
        <td></td>
        <td></td>
    </tr>
</table>