<table>
  <caption>Contact information labels</caption>
  <tr>
    <th>Plain-language label or question</th> 
    <th>Followup label or question</th>
    <th>Form notes</th>
  </tr>
  <tr>
    <td>Address</td>
    <td>Country, Street address, Street address line 2, Street address line 3, City, State, Postal code</td>
    <td>For forms, we use postal code to account for non-U.S addresses</td>
  </tr>
  <tr>
    <td>Home address</td>
    <td></td>
    <td>These are the labels used in VA.gov profile</td>
  </tr>
  <tr>
    <td>Mailing address</td>
    <td></td>
    <td>These are the labels used in VA.gov profile</td>
  </tr>
  <tr>
    <td>State or territory</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Email address</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Confirm email address</td>
    <td></td>
    <td>Appears as Re-enter email address on some forms</td>
  </tr>
  <tr>
    <td>Primary email address</td>
    <td></td>
    <td>appears on Pension app only</td>
  </tr>
  <tr>
    <td>Secondary email address</td>
    <td></td>
    <td>appears on Pension app only</td>
  </tr>
  <tr>
    <td>Home phone number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Mobile phone number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>How should we get in touch with you?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>How should we contact you if we have questions about your application?</td>
    <td>Mail, Email, Home phone, Mobile phone</td>
    <td></td>
  </tr>
  <tr>
    <td>To update your contact information for all of your VA accounts, please [go to your profile page].</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>To update your address for all of your VA accounts, please [go to your profile page].</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>I would like to receive text messages from VA about my [benefit type] benefits.</td>
    <td></td>
    <td></td>
  </tr>
</table>