<table>
  <caption>Dependent information labels</caption>
  <tr>
      <td>Plain-language label or question</td>
      <td>Followup label or question</td>
      <td>Form notes</td>
  </tr>
  <tr>
      <td>Do you have any dependents to report?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Do you have any dependent children?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>What's your dependent's relationship to you?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's first name</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's middle name</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's last name</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's suffix</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's Social Security number</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Dependent's date of birth</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>When did they become your dependent?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Does your child or dependent live with you?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Was your dependent permanently and totally disabled before the age of 18?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>If your dependent is between 18 and 23 years old, did they attend school during the last calendar year?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Expenses your dependent paid for college, vocational rehabilitation, or training</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Has your child ever been married?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Did your dependent live with you last year?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Do you have the same address as your spouse?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Do you have the same address as your dependent?</td>
      <td></td>
      <td></td>
  </tr>
</table>