<table>
  <caption>Disability information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>What type of disability claim are you filing?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Did you serve in a combat zone after Sept. 11, 2001?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you have any new conditions you want to add to your claim?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What caused this service-connected disability?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you need help buying or modifying your home?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you need help buying or modifying your car?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you confined to your home or need help with everyday activities?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Does your disability prevent you from holding down a job that you could otherwise do? (This doesn’t include
      being retired.)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What is your work situation?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Please tell us where VA treated you for your disability</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Name of VA medical facility</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>After we review your disability claim and supporting evidence, we may ask you to have a claim exam (also known
      as a C&amp;P exam) if we need more information to decide your claim.</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>We’ll use the results of this exam, in addition to your supporting evidence, to rate your disability.</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Is there any evidence you’d like us to review as part of your claim?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What type of evidence do you want us to review as part of your claim?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you terminally ill?</td>
    <td></td>
    <td></td>
  </tr>
</table>