<table>
  <caption>Education information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Which benefit have you used or are currently using?</td>
    <td>
      <ul>
      <li>Post-9/11 GI Bill (Chapter 33)</li>
      <li>Fry Scholarship (Chapter 33)</li>
      <li>Montgomery GI Bill (MGIB-AD, Chapter 30)</li>
      <li>Montgomery GI Bill Selected Reserve (MGIB-SR, Chapter 1606)</li>
      <li>Transfer of Entitlement Program (TOE)</li> 
      <li>Post-Vietnam Era Veterans’ Educational Assistance Program (VEAP, Chapter 32)</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Are you applying for the Edith Nourse Rogers STEM Scholarship?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you enrolled in a STEM undergraduate degree program?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What's the name of your STEM degree?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Name of the school where you're planning on using the Rogers STEM Scholarship?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Name of school, university, or training facility you're attending</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Type of education or training</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Your school student ID number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Your school email address (This email address usually ends with .edu.)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Education or career goal</td>
    <td>(For example, “I want to get a bachelor’s degree in criminal justice” or “I want to get an HVAC technician
      certificate” or “I want to become a police officer.”)</td>
    <td></td>
  </tr>
  <tr>
    <td>Are you getting, or do you expect to get any money (including, but not limited to, federal tuition assistance)
      from the Armed Forces or public health services for any part of your coursework or training?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you getting benefits from the U.S. government as a civilian employee at the same time you’re requesting VA
      benefits?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>When did you stop taking classes or participating in the training program? (Future dates are ok.)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Why did you stop taking classes or participating in the training program? (For example, “I graduated” or “I
      moved” or “The program wasn’t right for me.”)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>When did you earn your high school diploma or equivalency certificate?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Hours completed</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Type of hours</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Degree, diploma, or certificate received</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What did you study?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>If you have any FAA flight certificates, please list them here</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Have you ever held a license of journeyman rating (for example, as a contractor or plumber) to practice a
      profession?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Main job</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Number of months worked</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Is student's tuition or education allowance being paid by the Survivors’ and Dependents’ Educational Assistance
      (DEA), the Federal Compensation Act, or any U.S. government agency or program?</td>
    <td></td>
    <td></td>
  </tr>
</table>