<table>
  <caption>Health care information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Are you eligible for Medicaid?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you enrolled in Medicare Part A (hospital insurance)?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you covered by health insurance? (Including coverage through a spouse or another person)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Provider's name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Policyholder's name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Policy number (This or the group code is required)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Group code (This or the policy number is required)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>I'm enrolling to get minimum essential coverage under the Affordable Care Act</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Please choose your preferred VA medical facility</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you want VA to contact you to schedule your first appointment?</td>
    <td></td>
    <td></td>
  </tr>
</table>