<table>
  <caption>Housing information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Are you currently homeless?</td>
    <td></td>
    <td>Disability compensation form</td>
  </tr>
  <tr>
    <td>Please describe your current living situation</td>
    <td>
      <ul>
        <li>I'm living in a homeless shelter</li>
        <li>I'm living somewhere other than a shelter (For example, I'm living in a car or a tent.)</li> 
        <li>I'm living with another person</li>
        <li>I need to quickly leave where I currently live</li>
        <li>Other (Please describe)</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Please describe your current living situation</td>
    <td>
      <ul>
        <li>I'm losing my housing in 30 days</li>
        <li>I'm leaving a publicly funded homeless shelter soon</li>
        <li>Other (Please describe)</li>
      </ul>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Are you currently at risk of becoming homeless?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Please provide the name and number of a person we can call if we need to get in touch with you</td>
    <td></td>
    <td></td>
  </tr>
</table>