<table>
  <caption>Income information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Annual income</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What's your gross annual income from employment?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What's your net income from your farm, ranch, property, or business (if applicable)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you have any other income?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What's your spouse's gross annual income from employment?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What's your spouse's net income from your farm, ranch, property, or business? (if applicable)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Does your spouse have any other income?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Amount you or your spouse paid in non-reimbursable medical expenses this past year</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Amount you paid in funeral or burial expenses for a deceased spouse or child this past year</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Amount you paid for anything related to your own education (college or vocational) this past year. You don't
      need to list your dependents’ educational expenses.</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Account type</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Bank account number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Bank routing number</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Bank accounts, investments, and property</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Social Security or other pensions (gross income)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you have any medical, legal, or other unreimbursed expenses?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Amount paid</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Are you receiving military retired pay?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Expected income</td>
    <td>This is any income you didn't already report in this form that you expect to receive in the next 12 months.</td>
    <td></td>
  </tr>
  <tr>
    <td>Which type of VA compensation do you currently receive?</td>
    <td></td>
    <td></td>
  </tr>
</table>