<table>
  <caption>Marriage information labels</caption>
    <tr>
        <th>Plain-language label or question</th>
        <th>Followup label or question</th>
        <th>Form notes</th>
    </tr>
    <tr>
        <td>What's your marital status?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Spouse's first name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Spouse's middle name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Spouse's last name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Spouse's suffix</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Spouse's Social Security number</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Where did you get married?</td>
        <td>City, State</td>
        <td></td>
    </tr>
    <tr>
        <td>When did you get married?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>When did your marriage end?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Why did your marriage end?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Where did your marriage end?</td>
        <td>City, State</td>
        <td></td>
    </tr>
    <tr>
        <td>Type of marriage</td>
        <td>Ceremonial, Common-law, Proxy, Tribal, Other</td>
        <td></td>
    </tr>
    <tr>
        <td>How many times have you been married?</td>
        <td></td>
        <td></td>
    </tr>
</table>