<va-table table-title="Military address labels" descending="false" role="table">
  <va-table-row slot="headers" role="row" class="hydrated">
    <span role="columnheader" scope="col">Plain-language label or question</span> 
    <span role="columnheader" scope="col">Followup label or question</span>
    <span role="columnheader" scope="col">Form notes</span>
  </va-table-row>
  <va-table-row role="row">
    <span data-label="Plain-language label or question" role="cell">
      I live on a U.S. military base outside of the country.
    </span>
    <span data-label="Followup label or question" role="cell">
      [Additional info component] U.S. military bases are considered a domestic address and a part of the United States.
    </span>
    <span data-label="Form notes" role="cell">
    </span>
  </va-table-row>
</va-table>