<table>
  <caption>Pension information labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Are you currently on federal active duty in the National Guard?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Have you had a job (including self-employment) from 1 year before you became disabled to now?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Employer's name</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Employer's address</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Job title</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>What disabilities prevent you from working?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Date your disability began</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Have you been treated at a VA medical center for this disability?</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>How many days were lost due to your disability?</td>
    <td></td>
    <td></td>
  </tr>
</table>