<table>
  <caption>Review and submit content labels</caption>
  <tr>
    <td>Plain-language label or question</td>
    <td>Followup label or question</td>
    <td>Form notes</td>
  </tr>
  <tr>
    <td>Please review the information below to ensure that it's correct before you submit your application. This is
      especially important if you worked on your application over several days.</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Do you want to apply under the Fully Developed Claim program?</td>
    <td></td>
    <td></td>
  </tr>
</table>