<table>
  <caption>Service history labels</caption>
  <tr>
      <td>Plain-language label or question</td>
      <td>Followup label or question</td>
      <td>Form notes</td>
  </tr>
  <tr>
      <td>Last branch of service</td>
      <td></td>
      <td>appears on Health care app</td>
  </tr>
  <tr>
      <td>Branch of service</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Sponsor's branch of service</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Service start date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Service end date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Character of service</td>
      <td></td>
      <td>This could also be Character of discharge</td>
  </tr>
  <tr>
      <td>Service history</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Type of service</td>
      <td>Active duty, drilling reservist, National Guard, IRR</td>
      <td></td>
  </tr>
  <tr>
      <td>Are you currently on active duty?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Did you serve under another name?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Place of last or anticipated separation from service</td>
      <td>City, State, or Foreign country</td>
      <td></td>
  </tr>
  <tr>
      <td>Are you currently on federal active duty in the National Guard?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Are you currently activated on federal orders?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Activation start date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Expected separation date</td>
      <td></td>
      <td>This could also be Anticipated separation date</td>
  </tr>
  <tr>
      <td>Obligation start date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Obligation end date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Most recent entry date</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Are you a former POW?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Start of confinement?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>End of confinement?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Have you received any type of severance or separation pay?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Do you have any periods of service that began before 1978?</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Unit name</td>
      <td></td>
      <td></td>
  </tr>
  <tr>
      <td>Military Service number</td>
      <td></td>
      <td></td>
  </tr>
</table>
