<table>
    <tr>
        <td>Plain-language label or question</td>
        <td>Followup label or question</td>
        <td>Form notes</td>
    </tr>
    <tr>
        <td>Sponsor's first name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's middle name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's last name</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's suffix</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's Social Security number</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's VA file number</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sponsor's date of death or date listed MIA or POW</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Where did your sponsor die?</td>
        <td>City, State</td>
        <td></td>
    </tr>
    <tr>
        <td>Is your sponsor on active duty?</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>What's your relationship to the service member whose benefit is being transferred to you?</td>
        <td></td>
        <td></td>
    </tr>
</table>