.site-l-content-wrapper {
  max-width: 1200px;
}

.site-l-content-wrapper--centered {
  margin: 0 auto;
}

.site-l-content-wrapper--styleguide {

  // Put syntax highlighter here to avoid conflicts with
  // Formation base styles
  .highlight .hll { background-color: #ffffcc }
  .highlight  { background: #ffffff; }
  .highlight .c { color: #999988; font-style: italic } /* Comment */
  .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .highlight .k { font-weight: bold } /* Keyword */
  .highlight .o { font-weight: bold } /* Operator */
  .highlight .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
  .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  .highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
  .highlight .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
  .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
  .highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .highlight .ge { font-style: italic } /* Generic.Emph */
  .highlight .gr { color: #aa0000 } /* Generic.Error */
  .highlight .gh { color: #999999 } /* Generic.Heading */
  .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .highlight .go { color: #888888 } /* Generic.Output */
  .highlight .gp { color: #555555 } /* Generic.Prompt */
  .highlight .gs { font-weight: bold } /* Generic.Strong */
  .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
  .highlight .gt { color: #aa0000 } /* Generic.Traceback */
  .highlight .kc { font-weight: bold } /* Keyword.Constant */
  .highlight .kd { font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { font-weight: bold } /* Keyword.Pseudo */
  .highlight .kr { font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .highlight .m { color: #009999 } /* Literal.Number */
  .highlight .s { color: $color-green } /* Literal.String */
  .highlight .na { color: $color-secondary } /* Name.Attribute */
  .highlight .nb { color: #999999 } /* Name.Builtin */
  .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
  .highlight .no { color: $color-secondary } /* Name.Constant */
  .highlight .ni { color: #800080 } /* Name.Entity */
  .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
  .highlight .nn { color: #555555 } /* Name.Namespace */
  .highlight .nt { color: #2c4a4e } /* Name.Tag */
  .highlight .nv { color: $color-secondary } /* Name.Variable */
  .highlight .ow { font-weight: bold } /* Operator.Word */
  .highlight .w { color: #bbbbbb } /* Text.Whitespace */
  .highlight .mb { color: #009999 } /* Literal.Number.Bin */
  .highlight .mf { color: #009999 } /* Literal.Number.Float */
  .highlight .mh { color: #009999 } /* Literal.Number.Hex */
  .highlight .mi { color: #009999 } /* Literal.Number.Integer */
  .highlight .mo { color: #009999 } /* Literal.Number.Oct */
  .highlight .sa { color: $color-green } /* Literal.String.Affix */
  .highlight .sb { color: $color-green } /* Literal.String.Backtick */
  .highlight .sc { color: $color-green } /* Literal.String.Char */
  .highlight .dl { color: $color-green } /* Literal.String.Delimiter */
  .highlight .sd { color: $color-green } /* Literal.String.Doc */
  .highlight .s2 { color: $color-green } /* Literal.String.Double */
  .highlight .se { color: $color-green } /* Literal.String.Escape */
  .highlight .sh { color: $color-green } /* Literal.String.Heredoc */
  .highlight .si { color: $color-green } /* Literal.String.Interpol */
  .highlight .sx { color: $color-green } /* Literal.String.Other */
  .highlight .sr { color: #808000 } /* Literal.String.Regex */
  .highlight .s1 { color: $color-green } /* Literal.String.Single */
  .highlight .ss { color: $color-green } /* Literal.String.Symbol */
  .highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .highlight .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
  .highlight .vc { color: $color-secondary } /* Name.Variable.Class */
  .highlight .vg { color: $color-secondary } /* Name.Variable.Global */
  .highlight .vi { color: $color-secondary } /* Name.Variable.Instance */
  .highlight .vm { color: $color-secondary } /* Name.Variable.Magic */
  .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


  // Overrides
  .highlight {
    margin: 0;
    padding-bottom: 0;
    font-size: 14px !important;
    line-height: 1.6;
  }

  .highlighter-rouge {
    background: #fff;
  }

  .highlighter-rouge .highlight {
    background: #fff;
    border-bottom: none;
    font-weight: $font-normal;
  }

  p .highlighter-rouge,
  li .highlighter-rouge {
    padding: $units-0_5;
    margin: 0;
    border: 0;
    border-radius: 2px;
  }

  //
  pre {
    white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;
  }

  h1#color-palette {
    border: 0;
    width: auto;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $font-sans;
  }

  > p,
  > ol,
  > ul {
    max-width: 77ch;
    font-size: 1.7rem;
  }

  > ul:not(.usa-unstyled-list) {
    list-style: disc;
  }

  > ul ul {
      list-style: circle;
  }

  > p > code,
  > ol > li > code,
  > ul > li > code {
    background-color: rgba(0,0,0,.05) !important;
    font-family: $font-monospace;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:before,
    &:after {
      letter-spacing: -0.2em;
      content: '\00a0';
    }
  }

  > .usa-table-borderless {
    border: 1px solid $color-base;

    th {
      padding-left: .8em;
    }

    th,
    td {
      border-color: rgba(0,0,0,.2);
    }

    tbody tr:last-child td,
    tbody tr:last-child th {
      border-color: $color-base;
    }
  }

  > .highlighter-rouge {
    border: 1px solid $color-gray-lighter;
    padding: units(2);

    .highlight {
      font-size: 1.7rem;
    }
  }

  > .va-introtext {
    font-family: $font-sans;
    font-size: 2.2rem;
  }
}

.code {
  background-color: rgba(0,0,0,.05) !important;
  font-family: $font-monospace;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}