.vads-l-row {
  display: flex;
  flex-wrap:wrap;
  min-width: 100%;
}

.vads-l-row--reverse {
  flex-direction: row-reverse;
}


%grid-column {
  box-sizing: border-box;
  min-height: 1px; // Prevent columns from collapsing when empty
  min-width: 0; // Resize columns as expected (https://css-tricks.com/flexbox-truncated-text/)
  //padding-left: ($grid-gutter-width / 2);
  //padding-right: ($grid-gutter-width / 2);
  position: relative;
  width: 100%;
}

@for $i from 1 through $grid-columns {
  // Example: vads-l-col--6
  .vads-l-col--#{$i} {
    @extend %grid-column;
  }
}

.vads-l-col {
  @extend %grid-column;
  @include equal-width-flexbox-col;
}

@for $i from 1 through $grid-columns {
  // Example: vads-l-col--12
  .vads-l-col--#{$i} {
    @include flexbox-col($i);
  }
}

// Breakpoint prefix grids. All
@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through $grid-columns {
    // Example: vads-l-lg-col--12
    .vads-l--col--#{$i} {
      @extend %grid-column;
    }
  }

  // Example: vads-l-lg-col
  .#{$breakpoint}\:vads-l--col {
    @extend %grid-column;
  }

  @media (min-width: $value) {
    // Provide breakpoint classes for equal-width columns
    // Example: vads-l-lg-col
    .#{$breakpoint}\:vads-l-col {
      @include equal-width-flexbox-col;
    }

    @for $i from 1 through $grid-columns {
      // Example: vads-l-lg-col--12
      .#{$breakpoint}\:vads-l-col--#{$i} {
        @include flexbox-col($i);
      }
    }
  }
}
