.site-c-content {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 86px);
}

.site-c-content__nav {
  background-color: $color-gray-lightest;
  border-right: 1px solid $color-gray-lighter;
  flex-basis: 25%;
  display: none;

  @include media($nav-width) {
    display: block;
  }
}

.site-c-content__content {
  flex-basis: 100%;
  padding: $units-3;

  @include media($nav-width) {
    flex-basis: 75%;
    padding: $units-8;
  }
}

.site-l-wrapper {
  padding: 0 $units-3;

  @include media($nav-width) {
    padding: 0 $units-5;
  }
}

.site-l-wrapper--center {
  margin-left: auto;
  margin-right: auto;
}