.site-content {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 86px);
  width: 100%;
}

.site-content__nav {
  flex-basis: 25%;
  max-width: 25%;
  display: none;

  @include media($nav-width) {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
    bottom: 0;
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

.site-content__content {
  flex-basis: 100%;
  max-width: 100%;
  padding: $units-3 $units-3 0 $units-3;

  @include media($nav-width) {
    flex-basis: 75%;
    max-width: 75%;
    padding: $units-8 $units-8 0 $units-8;
  }
}

.site-l-wrapper {
  padding: 0 units(3);

  @include media($nav-width) {
    padding: 0 units(5);
  }

  @include media($large-screen) {
    padding: 0 units(10);
  }
}

.site-l-wrapper--center {
  margin-left: auto;
  margin-right: auto;
}
