html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-sans;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;

  &.nav-is-open {
    overflow: hidden;
  }
}

iframe {
  border: 0;
}