html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-sans;

  &:before {
    content: '{ "current": "", "applied": [] }';
    display: none;

    @include media($xsmall-screen) {
      & {
        content: '{ "current": "xsmall-screen", "applied": ["xsmall-screen"] }';
      }
    }

    @include media($small-screen) {
      & {
        content: '{ "current": "small-screen", "applied": ["xsmall-screen" ,"small-screen"] }';
      }
    }

    @include media($medium-screen) {
      & {
        content: '{ "current": "medium-screen", "applied": ["xsmall-screen", "small-screen", "medium-screen"] }';
      }
    }

    @include media($nav-width) {
      & {
        content: '{ "current": "nav-width", "applied": ["xsmall-screen", "small-screen", "medium-screen", "nav-width"] }';
      }
    }

    @include media($small-desktop-screen) {
      & {
        content: '{ "current": "small-desktop-screen", "applied": ["xsmall-screen", "small-screen", "medium-screen", "nav-width", "small-desktop-screen"] }';
      }
    }
    @include media($large-screen) {
      & {
        content: '{ "current": "large-screen", "applied": ["xsmall-screen", "small-screen", "medium-screen", "nav-width", "small-desktop-screen", "large-screen"] }';
      }
    }
  }
}

body {
  background-color: #f9f9f9;

  &.nav-is-open {
    overflow: hidden;
    @include media($nav-width) {
      overflow: auto;
    }
  }
}

iframe {
  border: 0;
}

:target {
  @include media($nav-width) {
    // This is the height of the header (59px)
    // (plus some breathing room)
    // It's intended to prevent a header that has an anchor
    // link attached to it from hiding under the fixed header
    // when a user comes to the page
    // Unfortunately, it makes these links appear further away
    // in the normal flow of a page
    padding-top: 70px;

    .site-heading-anchor {
      bottom: 0.3em;
      top: auto;
    }
  }
}

blockquote {
  margin: units(2);
  padding: 0 units(1);
  border-left: 0.25em solid $color-gray-medium;
}
