import React from 'react';
import AlertBox from './AlertBox';

export default function AlertBoxExample(props) {
  return (
    <div className="usa-width-one-whole">
      <AlertBox
        headline={props.headline}
        content={props.content}
        status={props.status}
        isVisible={props.isVisible}/>
      <AlertBox
        headline="Warning alert"
        content={props.content}
        status="warning"/>
      <AlertBox
        headline="Error alert"
        content={props.content}
        status="error"/>
      <AlertBox
        headline="Success alert"
        content={props.content}
        status="success"/>
      <AlertBox
        headline="Continue alert"
        content={props.content}
        status="continue"/>
      <AlertBox
        headline="Dismissable alert"
        content={props.content}
        status={props.status}
        isVisible={props.isVisible}
        onCloseAlert={() => {}}/>
      <AlertBox
        headline="Hidden alert"
        content={props.content}
        status={props.status}
        isVisible={false}/>
      <AlertBox
        content={<p className="usa-alert-text">Content without heading.</p>}
        status={props.status}/>
    </div>
  );
}
