import React from 'react';
import Breadcrumbs from './Breadcrumbs';

export default function BreadcrumbsExample(props) {
  const crumbs = [
    <a href="#" key="1">Home</a>,
    <a href="#" key="2">Level One</a>,
    <a href="#" key="3">Level Two</a>
  ];

  return (
    <Breadcrumbs>
      {crumbs}
    </Breadcrumbs>
  );
}
