import React from 'react';
import ErrorableCheckbox from './ErrorableCheckbox';

export default function ErrorableCheckboxExample(props) {
  return (
    <div>
      <ErrorableCheckbox
        label='Errorable Checkbox'
        onValueChange={(value) => value}
        {...props}/>
      <ErrorableCheckbox
        label="I want to type in my school's name and address."
        labelAboveCheckbox="If you don't find your school in the search results, then check the box to enter in your school information manually."
        onValueChange={(value) => value}
        {...props}/>
    </div>
  );
}
