import React from 'react';
import MegaMenu from './MegaMenu';

const data = [
  {
    title: 'Nav Title 1',
    menuSections: [
      {
        title: 'Section Title 1',
        links: {
          columnOne: {
            title: 'Section 1 Column 1 Title',
            links: [
              {
                text: 'First link',
                href: '#'
              },
              {
                text: 'Second link',
                href: '#'
              },
              {
                text: 'Third link',
                href: '#'
              },
              {
                text: 'Fourth link',
                href: '#'
              },
              {
                text: 'Fifth link',
                href: '#'
              }
            ]
          },
          columnTwo: {
            title: 'Section 1 Column 2 title',
            links: [
              {
                text: 'First link',
                href: '#'
              },
              {
                text: 'Second link',
                href: '#'
              },
              {
                text: 'Third link',
                href: '#'
              },
              {
                text: 'Fourth link',
                href: '#'
              },
              {
                text: 'Fifth link',
                href: '#'
              }
            ]
          },
          columnThree: {
            img: {
              src: 'http://via.placeholder.com/228x128',
              alt: 'Place Holder Image'
            },
            link: {
              text: 'Text for link',
              href: '#'
            },
            description: 'Add a description of the marketing content'
          },
          seeAllLink: {
            text: 'Link to Section 1 Page',
            href: '#'
          }
        }
      },
      {
        title: 'Section Title 2',
        links: {
          columnOne: {
            title: 'Section 2 Column 1 Title',
            links: [
              {
                text: 'First link',
                href: '#'
              }
            ]
          },
          columnTwo: {
            title: 'Section 2 Column 2 title',
            links: [
              {
                text: 'First link',
                href: '#'
              }
            ]
          },
          columnThree: {
            img: {
              src: 'http://via.placeholder.com/228x128',
              alt: 'Place Holder Image'
            },
            link: {
              text: 'Text for Marketing Link',
              href: '#'
            },
            description: 'Add a description of the marketing content'
          },
          seeAllLink: {
            text: 'Link to Section 2 Page',
            href: '#'
          }
        }
      }
    ]
  },
  {
    title: 'Nav Title 2',
    menuSections: {
      mainColumn: {
        title: 'Main Dropdown Section Title',
        links: [
          {
            text: 'First link',
            href: '#'
          },
          {
            text: 'Second link',
            href: '#'
          },
          {
            text: 'Third link',
            href: '#'
          },
          {
            text: 'Fourth link',
            href: '#'
          },
          {
            text: 'Fifth link',
            href: '#'
          }
        ]
      },
      columnOne: {
        title: 'Column 1 Title',
        links: [
          {
            text: 'First link',
            href: '#'
          },
          {
            text: 'Second link',
            href: '#'
          },
          {
            text: 'Third link',
            href: '#'
          },
          {
            text: 'Fourth link',
            href: '#'
          },
          {
            text: 'Fifth link',
            href: '#'
          }
        ]
      },
      columnTwo: {
        title: 'Column 2 Title',
        links: [
          {
            text: 'First link',
            href: '#'
          },
          {
            text: 'Second link',
            href: '#'
          },
          {
            text: 'Third link',
            href: '#'
          },
          {
            text: 'Fourth link',
            href: '#'
          },
          {
            text: 'Fifth link',
            href: '#'
          }
        ]
      },
      columnThree: {
        img: {
          src: 'http://via.placeholder.com/228x128',
          alt: 'Place Holder Image'
        },
        link: {
          text: 'Text for Marketing Link',
          href: '#'
        },
        description: 'Add a description of the marketing content'
      },
    }
  },
  {
    title: 'Nav Title 3 link only',
    href: '#'
  }
];

export default class MegaMenuExample extends React.Component {
  constructor() {
    super();

    this.state = { display: {} }
  }

  toggleDisplayHidden(hidden) {
    if (document.body.clientWidth > 768) {
      this.setState({
        display: {},
      });
    } else if (hidden) {
      this.setState({
        display: { hidden: true },
      });
    } else if (!this.state.display.hasOwnProperty('hidden')) {
      this.setState({
        display: { hidden: true },
      })
    } else {
      this.setState({
        display: {},
      })
    }
  }

  toggleDropDown(title) {
    this.setState({
      currentDropdown: title,
    })
  }

  updateCurrentSection(title) {
    this.setState({
      currentSection: title,
    })
  }

  render() {
    return (
      <div id="mega-menu">
        <div
          onClick={() => this.toggleDisplayHidden()}
          style={{
            display: 'inline-block',
            margin: '20px',
            padding: '8px 15px',
            border: '1px solid',
            borderRadius: '15px'}}>
          Mobile Menu Toggle Button
        </div>
        <MegaMenu
          {...this.state}
          data={data}
          toggleDisplayHidden={(show) => this.toggleDisplayHidden(show)}
          toggleDropDown={(title) => this.toggleDropDown(title)}
          updateCurrentSection={(title) => this.updateCurrentSection(title)}
        ></MegaMenu>
      </div>
    );
  }
}
