.has-anchor {
  position: relative;
  z-index: 1;
}

.site-heading-anchor {
  color: $color-gray;
  font-size: .75em;
  margin-left: $units-1;

  @include media($nav-width) {
    opacity: 0;
    position: absolute;
    left: -40px;
    top: .25em;
    padding-right: 20px;
    z-index: -1;
  }
}

.site-heading-anchor:visited {
  color: $color-gray;
}

.has-anchor:hover .site-heading-anchor,
.site-heading-anchor:hover {
  background-color: transparent;
  opacity: 1;
}