.site-component-badge-link,
.site-component-status__link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.va-sidebarnav .usa-sidenav-list > li, 
main {
  .site-sidenav-status {
    font-size: 0.625rem;
    padding-right: 0.3125rem;
  }

  .site-component-status-heading .site-component-status {
    font-size: 1.25rem;
  }

  .site-component-status-heading va-icon {
    position: relative;
    top: 4px;
  }

  .site-component-status--use,
  .site-component-status--use-best-practice,
  .site-component-status--use-deployed {
    background-color: var(--vads-button-color-background-primary-alt-active-on-light);
  }
  .site-sidenav-status--use,
  .site-sidenav-status--use-best-practice,
  .site-sidenav-status--use-deployed, va-icon[icon="check_circle"] {
    color: var(--vads-button-color-background-primary-alt-active-on-light);
  }

  .site-component-status--use-with-caution,
  .site-component-status--use-with-caution-available,
  .site-component-status--use-with-caution-candidate {
    background-color: var(--vads-color-orange);
    color: var(--vads-color-base);
  }
  .site-sidenav-status--use-with-caution,
  .site-sidenav-status--use-with-caution-available,
  .site-sidenav-status--use-with-caution-candidate, va-icon[icon="warning"] {
    color: var(--vads-color-orange);
  }

  .site-component-status--dont-use,
  .site-component-status--dont-use-proposed,
  .site-component-status--dont-use-deprecated {
    background-color: var(--vads-color-secondary-darkest);
  }
  .site-sidenav-status--dont-use,
  .site-sidenav-status--dont-use-proposed,
  .site-sidenav-status--dont-use-deprecated, va-icon[icon="error"] {
    color: var(--vads-color-secondary-darkest);
  }

  .site-sidenav-status--large {
    font-size: inherit;
  }
}

.site-component-badge-link {
  font-size: 0.9375rem;
  margin-left: units(0.5);
  padding: 0.0625rem 0.4375rem;
  border-radius: 2px;
  text-transform: uppercase;
}

.site-component-badge-link__img {
  padding-right: units(0.5);
}

.site-component-badge-link--uswds {
  background-color: var(--vads-color-primary-alt-darkest);
  color: var(--vads-color-white);

  &:hover,
  &:visited {
    color: var(--vads-color-white);
  }

  &:hover {
    background-color: var(--vads-color-primary-alt);
  }
}