.site-code-snippet__button,
.site-code-snippet__link,
.site-code-snippet__link:visited {
  background: white;
  background-image: none !important;
  border-right: 1px solid $color-gray-lightest;
  color: $color-primary;
  font-weight: bold;
  padding: units(2) units(2.5);
  text-decoration: none;
  transition: none;
  width: auto;

  &:hover {
    background-color: white;
    color: $vads-color-primary-dark;
    text-decoration: none;
  }
}

.site-code-snippet__button-group {
  background-color: white;
  border: 1px solid $color-gray-lighter;
  border-bottom: 0;
  display: flex;
}

.site-code-snippet__content {
  border: 1px solid $color-gray-lighter !important;
  border-top-color: $color-gray-lightest !important;
}

.site-code-snippet__content[aria-hidden="true"] {
  display: block !important;
  max-height: 96px;
  overflow: hidden;
  position: relative;

  &:after {
    background: rgb(255,255,255);
    background: linear-gradient(352deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: units(10);
    pointer-events: none;
  }
}

.site-showcase + .site-code-snippet,
.sg-responsive-preview + .site-code-snippet {
  margin-top: units(-1);
  border-top: 1px solid $color-gray-lighter;
}