.site-component-checklist {
  margin: 0;
  padding: 0;  

  &__list {
    max-width: 72ex;
  }

  &__name {
    font-weight: bold;
  }

  &__totals {
    margin: units(2) 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.site-component-checklist-score {
  margin-right: units(.25);
  vertical-align: middle;

  va-icon {
    vertical-align: middle;
  }

  &--is-true[icon="check_circle"] {
    color: $color-green;
  }

  &--is-false {
    color: $vads-color-orange;
  }

  &--is-na {
    background-color: $color-gray-lightest;
    color: $color-base;
    padding: 0 .25rem;
  }
}

.site-component-checklist-legend {
  @include media($desktop) {
    margin-top: units(1);
  }

  @include media($desktop) {
    margin-top: units(2);
  }

  &__title {
    @include media($desktop) {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: units(2);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: units(0.5);
    white-space: nowrap;
  }
}