.site-component-example {
  margin: units(2) 0 units(3) 0;
  border: 1px solid $color-gray-lighter;
  background-color: $color-gray-lightest;
  border-radius: 0.4rem;

  &__image {
    padding: units(2) 0 0 units(2);
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
  }

  &__caption {
    padding: units(1) units(2);
    color: $color-base;
    font-size: 1.5rem;
  }
}

.site-component-example--reverse {
  background-color: $color-white;
}

.do-dont .site-component-example .site-component-example__image {
  padding: units(2);
}