@use '../../../node_modules/@department-of-veterans-affairs/css-library/dist/stylesheets/functions' as *;
.site-component-fields {
  margin: units(3) 0;
  
  &__name {
    font-weight: bold;
  }

  &__error {
    margin-top: units(2);
  }

}