.iframe__preview {
  border: 1px solid $color-gray-lighter;
  text-align: center;
  margin-bottom: units(1);
  overflow: hidden;
  position: relative;
}

.iframe__preview__open,
.iframe__preview__open:visited {
  background: $color-gray-lightest;
  bottom: 0;
  color: $color-primary;
  display: block;
  padding: units(1);
  position: absolute;
  transition: none;
  right: 0;
}

.iframe__preview__open:hover,
.iframe__preview__open:focus {
  background: $color-gray-lighter;
}

.responsive-iframe {
  transform-origin: center left;
}

.sg-responsive-preview {
  overflow: hidden;
}

.sg-responsive-preview .iframe__preview {
  padding-top: $units-1 * 2;
  padding-bottom: units(5);
  background: repeating-linear-gradient(
    -55deg,
    #f2f2f2,
    #f2f2f2 10px,
    #f9f9f9 10px,
    #f9f9f9 20px
  );
}

.sg-responsive-preview__size-buttons {
  display: flex;
}

.sg-responsive-preview__size-button {
  border-radius: 0;
  border: .5px solid white;
  border-bottom: 0;
  font-size: 1.2rem;
  margin: 0;
  padding: $units-1 * 2 $units-1;
  width: 100%;

  &:after {
    content: attr(data-size) "px";
    display: block;
    font-weight: normal;
    margin-top: $units-1 /2;
  }

  @include media($medium-screen) {
    font-size: 1.6rem;
  }

  &.is-current {
    background-color: $color-blue-darkest;
  }
}

.sg-responsive-preview__size-button:first-child {
  border-left: none;
}

.sg-responsive-preview__size-button:last-child {
  border-right: none;
}