.site-in-this-section {
  margin: units(3) units(1.5) units(3) 0;

  &__list {
    @include media($medium-screen) {
      columns: 2 12.5rem;
      column-gap: units(2);
    }
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0.5em;
    list-style-type: none;
    padding-left: 0;
  }

  &__title {
    font-family: $font-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0.4em 0em;
  }

  &__definition {
    margin: 0.4em 0em;
  }

  &__link {
    display: flex;
    align-items: baseline;
    padding: 0.5em;
    line-height: 1.5em;
    max-width: 285px;
  }

  &__link i {
    font-style: normal;
    font-weight: 900;
    margin-right: 8px;
    font-size: 0.75em;
  }

  &__link:active {
    background-color: $color-gray-lighter;
  }
}