.va-sidebarnav.site-mobile-nav {
  background: #fff;
  display: none;
  padding: $units-3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: $z-index-flyout-menu;
  overflow-y: scroll;
  width: 75%;
  max-width: 360px;
  transform: translateX(0);
  visibility: visible;
  margin: 0;
  left: inherit;

  &::before {
    content: none;
  }

  @include media($nav-width) {
    display: none;
  }
}

.va-sidebarnav.site-mobile-nav.is-visible {
  display: block;
  animation: slidein-left 0.3s ease-in-out;

  @include media($nav-width) {
    display: none;
  }
}

.site-mobile-nav__close-button {
  background-color: transparent;
  color: var(--vads-color-base);
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: auto;

  .fa {
    font-size: 1.8rem;
  }
}

.site-mobile-nav__close-button:hover,
.site-mobile-nav__close-button:active,
.site-mobile-nav__close-button:focus {
  background-color: transparent;
  color: $color-base;
}

.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: $z-index-overlay;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
  @include media($nav-width) {
    display: none;
  }
}

@keyframes slidein-left {
  from {
    transform: translateX(360px);
  }

  to {
    transform: translateX(0);
  }
}
