.site-resource-link,
.site-resource-link:visited {
  display: flex;
  padding: units(4);
  border: 3px solid $color-primary;
  color: $color-base;
  text-decoration: none;
  background-color: #fff;
  height: 100%;
  align-items: flex-start;
  transition: none;

  img {
    flex-shrink: 0;
    display: block;
    width: units(4);
  }
}

.site-resource-link:hover {
  border-color: $color-gold;
  background-color: white;
  text-decoration: none;
}