.site-c-showcase {
  @include clearfix;
  background-color: #ffffff;
  border: 1px solid $color-gray-lighter;
  margin: 1.5em 0 $units-1;
  padding: $units-2;
}

.site-c-showcase > h2,
.site-c-showcase > h3,
.site-c-showcase > h4 {
  font-family: $font-sans;
}

.site-c-showcase + .highlighter-rouge {
  margin-top: -1px;
}

.site-c-showcase__header {
  margin-bottom: units(4);

  @include media($medium-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.site-c-showcase__heading {
  font-size: 2rem;
  font-family: $font-sans;
  margin-top: 0;

  @include media($medium-screen) {
    margin: 0;
  }
}

.site-utility-scope {
  display: flex;
  list-style: none;
  padding: 0;

  @include media($medium-screen) {
      margin: 0;
  }
}

.site-utility-scope__link {
  margin: 0;
}

.site-utility-scope__button,
.site-utility-scope__button:visited,
.site-utility-scope__button:hover {
  background: transparent;
  color: $color-base;
  font-weight: $font-bold;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: units(1);
  border-radius: 4px;
  transition: none;

  .fas {
    margin-right: units(.5);
  }
}

.site-utility-scope__button--supported,
.site-utility-scope__button--supported:visited {
  border-color: $color-green-lighter;

  .fas {
    color: $color-green;
  }
}

.site-utility-scope__button--unsupported,
.site-utility-scope__button--unsupported:visited {
  border-color: $color-gray-lighter;
  color: $color-gray-light;
  text-decoration: line-through;
  pointer-events: none;

  .fas {
    color: $color-gray-lighter;
  }
}

.site-c-showcase__prop-head {
  width: 100%;
  margin: 0;
}

.site-c-showcase__prop {
  font-family: $font-monospace;
  color: $color-secondary-darkest;
}

.site-c-showcase__col {
  border-top: 1px solid $color-gray-lighter;
  padding: $units-3 0;
}

.site-c-square-outer {
  background: $color-secondary-light;
  display: flex;
}

.site-c-square {
  background: #fff;
  border: 1px solid $color-base;
  display: inline-block;
  flex-shrink: 0;
}

.site-c-square--small {
  width: 20px;
  height: 20px;
}

.site-c-utility-class {
  font-family: "Courier";
  font-size: 12px;
  display: block;
  width: auto;
  background: $color-gray-lightest;
  padding: 4px;
  border-radius: 2px;
}

.site-c-utility-value {
  font-family: "Courier";
  font-size: 12px;
  display: inline-block;
  width: auto;
  background: $color-secondary-lightest;
  padding: 4px;
  border-radius: 2px;
}

.site-u-height--2square{
  height: 20px;
  width: 20px;
}

.opacity-25 {
  opacity: .25;
}

.vads-u-margin-top--yikes {
  margin-top: 124px;
}

.vads-u-margin-left--yikes {
  margin-left: 124px;
}

.width-100 {
  width: 100%;
}

.site-c-showcase__padding-example__outer {
  border: 1px solid $color-base;
  background: $color-primary-alt-light;
  display: inline-block;
  width: 160px;
  height: 160px;
}

.site-c-showcase__padding-example__inner {
  background: white;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
}





.utility-value-color {
  background-color: #fff;
  border: 1px solid $color-gray-lightest;
  font-family: $font-monospace;
  margin-top: 0;
  font-weight: 300;
  white-space: nowrap;
  text-transform: lowercase;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.utility-value-color__chip {
  height: .75rem;
  border-radius: 50%;
  width: .75rem;
  display: inline-block;
  margin-right: 8px;
}

.site-aspect-ratio {
   background-color: $color-primary-alt-light;
   position: relative;
   width: 100%;
}

.site-aspect-ratio--11 {
  padding-top: 100%;
}

.site-aspect-ratio--21 {
  padding-top: 50%;
}

.site-aspect-ratio--32 {
  padding-top: 66.66666%
}

.site-aspect-ratio--72 {
  padding-top: 28.5714%
}