.va-sidebarnav {
  margin: 4rem 0 0 4rem;
  background-color: var(--color-white);

  .usa-sidenav-list {
    border: none;
    > li {
      a {
        position: relative;
        display: flex;
        align-items: center;
      }
      i {
        position: initial;
        right: initial;
        color: initial;
        vertical-align: initial;
        font-size: initial;
        padding-left: initial;
      }
      .site-sidenav-list__handle {
        position: absolute;
        left: 100%;
        transform: translateX(calc(-100% - 1rem));
      }
      .site-sidenav-status {
        order: -1;
      }
      a:hover {
        // This may be a bug in formation as 
        // the item you are hovering over has different padding 
        // and thus unintentionally (IMHO) moves. This defeats that.
        padding: 8px 16px 8px 12px;
      }
      a.usa-current {
        cursor: pointer;
      }
      .sub_list-current {
        color: var(--color-base);
      }
    }
  }
}
