.site-sidenav-list {
  list-style: none;
  padding: units(5);
  margin: 0;

  @include media($medium-screen) {
    position: sticky;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: auto;
  }

  @include media($large-screen) {
    padding-left: units(10);
  }
}

.site-sidenav-list__item {
  background-color: #ffffff;
  border: 1px solid $color-gray-lighter;
  margin: 0 0 -1px 0;
}

.site-sidenav-list__item:last-child {
  @include media($medium-screen) {
    margin-bottom: units(8);
  }
}

.site-sidenav-list__link,
.site-sidenav-list__link:visited {
  display: block;
  padding: $units-1 $units-2;
  text-decoration: none;
  color: $color-primary;
}

.site-sidenav-list__link:hover {
  background-color: transparent;
}

.site-sidenav-list__item.current {
  background-color: #f9f9f9;
  font-weight: $font-bold;
  position: relative;

  &:before {
    content: "";
    background: $color-primary;
    position: absolute;
    width: 5px;
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
  }

  a {
    color: $color-base;
  }
}

.site-sidenav-list__sub {
  display: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.site-sidenav-list__item.current .site-sidenav-list__sub {
  display: block;
}

.site-sidenav-list__sub-item {
  border-top: 1px solid $color-gray-lighter;
  padding: 0;
  margin: 0;
}

.site-sidenav-list__sub__link {
  display: block;
  text-decoration: none;
  font-weight: normal;
  padding: $units-1 $units-2;
}

.site-sidenav-list__sub__link:hover {
  background-color: transparent;
}