---
title: Drafts
layout: default
---

<h1>Drafts</h1>

This is a list of all the draft pages on design.va.gov

<h2>About</h2>

<ul>
  {% for item in site.about %}
     {% if item.draft %}
     <li>
       <a href="{{ item.url }}">
       {{ item.title }}
       </a>
     </li>
     {% endif %}
  {% endfor %}
</ul>

<h2>Content style guide</h2>

<ul>
  {% for item in site.content-style-guide %}
     {% if item.draft %}
     <li>
       <a href="{{ item.url }}">
       {{ item.title }}
       </a>
     </li>
     {% endif %}
  {% endfor %}
</ul>

<h2>Foundation</h2>

<ul>
  {% for item in site.foundation %}
     {% if item.draft %}
     <li>
       <a href="{{ item.url }}">
       {{ item.title }}
       </a>
     </li>
     {% endif %}
  {% endfor %}
</ul>

<h2>Components</h2>

<ul>
  {% for item in site.components %}
     {% if item.draft %}
     <li>
       <a href="{{ item.url }}">
       {{ item.title }}
       </a>
     </li>
     {% endif %}
  {% endfor %}
</ul>

<h2>Patterns</h2>

<ul>
  {% for item in site.patterns %}
     {% if item.draft %}
     <li>
       <a href="{{ item.url }}">
       {{ item.title }}
       </a>
     </li>
     {% endif %}
  {% endfor %}
</ul>