---
font-matter: yay
---

// Files that allow us to use Formation’s Sass functions, variables, and mixins
@import '../../../node_modules/@department-of-veterans-affairs/formation/sass/base/b-variables';
@import '../../../node_modules/@department-of-veterans-affairs/formation/sass/base/_b-breakpoints';
@import '../../../node_modules/@department-of-veterans-affairs/formation/sass/base/b-functions';
@import '../../../node_modules/@department-of-veterans-affairs/formation/sass/base/_b-mixins';

// Other Formation CSS we need for this site.
@import '../../../node_modules/@department-of-veterans-affairs/formation/sass/site/_m-crisis-line';

// Site CSS
@import '_settings/variables';
@import '_helpers/clip';
@import '_helpers/media';
@import '_base/base';
@import '_layout/site-content';
@import '_layout/content-wrappers';
@import '_components/anchors';
@import '_components/do-dont';
@import '_components/footer';
@import '_components/header';
@import '_components/hero';
@import '_components/iframe-preview';
@import '_components/mobile-nav';
@import '_components/resource-links';
@import '_components/showcase';
@import '_components/sidenav';


.usa-skipnav {
  background: transparent;
  color: $color-base;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  &:focus {
    background: $color-white;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}

.fa, .fas, .fab {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
}


.site-grid-example {
  padding:12px;
  background: #e1f3f8;
  border: 1px solid #046b99;
}

.site-section-highlight {
  padding-top: units(1);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: units(10);
    display: block;
    top: units(3);
    height: 5px;
    background-color: $color-secondary;
  }

  a {
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: $color-link-default;
  }

  a:hover,
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
}

.site-resources {
  background: #16171F;
}

.site-search-container {
  position: relative;
  padding-left: units(2);
  display: none;

  @include media($nav-width) {
    display: block;
  }

  .search-icon {
    position: absolute;
    left: 26px;
    color: rgba(255,255,255,.75);
    top: 16px;
  }
}

.site-search-container__input[type="search"] {
  box-sizing: border-box;
  padding-left: 32px;
  color: white;
  background: rgba(22, 23, 31, .5);

  &::-webkit-search-cancel-button {
    display:block;
  }
}

.site-search-container__input::placeholder {
  color: white !important;
}

.site-search-results:empty {
  display: none;
  border: none;
}

.site-search-results {
  color: $color-base;
  border: 1px solid $color-gray-lighter;
  background: transparent;
  margin: 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  padding: 0;
  top: 57px;
  width: 140%;
  z-index: 10000;
  max-height: 358px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  li {
    margin: 0;
    background: white;

    a,
    a:visited {
      display: block;
      border: 1px solid $color-gray-lighter;
      text-decoration: none;
      padding: units(2);
      margin-top: -1px;
      color: $color-base;
      transition: none;
      width: 100%;
    }

    a:hover {
      color: $color-base;
    }
  }
}

.site-seach-container--mobile {
  display: none;
  border-top: 1px solid $color-primary-darker;
  background: $color-primary-darkest;
  width: 100%;
  margin: -3px 0 -3px;
  padding: units(2);

  &.is-visible {
    display: block;

    @include media($nav-width) {
      display: none;
    }
  }

  .search-icon {
    top: 32px;
  }
}

.site-search-results--mobile {
  left: 16px;
  width: calc(100% - 32px);
  top: 60px;
}

.site-toggle-search {
  color: white;
  background-color: transparent;
  width: 44px;
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
  margin: 0 8px 0 auto;
  align-self: center;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  font-size: 20px;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }

  @include media($nav-width) {
    display: none;
  }
}